# String Formatting

In [61]:
planet='earth'
diameter=12734

In [62]:
# old and poor method
print('the diameter of ', planet, 'is ', diameter)

the diameter of  earth is  12734

In [63]:
# Method-1 using .format()
print('The diameter of {} is {}'.format(planet,diameter))

The diameter of earth is 12734

In [64]:
print('The diameter of {0} is {1}'.format(planet,diameter))
print('The diameter of {1} is {0}'.format(planet,diameter))

The diameter of earth is 12734
The diameter of 12734 is earth

In [65]:
#Method-2 using % expression
print('The diameter of %s is %s' % (planet,diameter))

The diameter of earth is 12734

In [66]:
#Method-3 using f string 
print(f'The diameter of {planet} is {diameter}')

The diameter of earth is 12734

In [67]:
item='clock'
day='yesterday'
impact='time consuming'

print('I ate a {0} {1} it was very {2}'.format(item,day,impact))
print('I ate a %s %s it was very %s' % (item,day,impact))
print(f'I ate a {item} {day} it was very {impact}')

I ate a clock yesterday it was very time consuming
I ate a clock yesterday it was very time consuming
I ate a clock yesterday it was very time consuming

------------------------------

# DECISION MAKING

In [1]:
# Simulating employee pay roll. Ask the user to enter base pay.

base_pay=float(input('Enter base pay: '))
if (base_pay >= 5000):
    hra=0.12*base_pay
    da=0.14*base_pay
elif (base_pay < 5000):
    hra=0.16*base_pay
    da=0.18*base_pay
else:
    print("invalid")
gross=base_pay+hra+da
print(f"For the given {base_pay}, the HRA is {hra}, DA is {da} and the gross pay is {gross}")

For the given 7500.0, the HRA is 900.0, DA is 1050.0 and the gross pay is 9450.0

---------------------------

# AUTO TYPE CASTING

In [ ]:
import ast
data = ast.literal_eval( input() )
print(type(data))

"""
(1,2,3,4)
<class 'tuple'>
---------------
"abc"
100
2.234
True
{ 'a': 'apple'}
(1,2,3,4)
[1,2,3,4]
-----------------
"""

<class 'str'>

"\n(1,2,3,4)\n<class 'tuple'>\n"

---------------------

# LOOPING

In [ ]:
import time

meter=1
while meter <=10:
    print('Counting ', meter)
    meter +=1 
    time.sleep(1)

Counting  1
Counting  2
Counting  3
Counting  4
Counting  5
Counting  6
Counting  7
Counting  8
Counting  9
Counting  10

range(limit) -> this function generates numbers.
-> starting from 0
-> till limit -1
-> eg. range(3) -> 0,1,2

In [ ]:
for x in range(5):   #LIMIT
    print(x)

0
1
2
3
4

In [ ]:
for x in range(5,10):    #START, STOP
    print(x)

5
6
7
8
9

In [ ]:
for x in range(2,21,2):        #START, STOP, STEP
    print(x)

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Guessing game
import random

computerChoice = random.randint(1,20)

for i in range(6):
    guess=int(input("Choice: "))
    if guess > computerChoice:
        print('Your guess is too high')
    elif guess < computerChoice:
        print('Your guess is too low')
    else:
        print('Gotcha! you guessed it right. The answer is ', computerChoice)  
        break 
else:
    print('OOPS! try again. The answer is ', computerChoice)

Your guess is too high
Your guess is too high
Your guess is too low
Your guess is too high
Gotcha! you guessed it right. The answer is  11

In [ ]:
# Hailstone sequence algorithm
def hailstone_sequence(n):
    print(n)
    if n == 1:
        return
    elif n % 2 == 0:
        hailstone_sequence(n // 2)
    else:
        hailstone_sequence(3 * n + 1)
num = int(input("Enter a positive number: "))
hailstone_sequence(num)

# can use while loop also

7
22
11
34
17
52
26
13
40
20
10
5
16
8
4
2
1

In [ ]:
# CoinSorter(coins, target)
# coins=[1,3,5]
# target=9          
# output=[3,3,3]  -> minimum number of coins requried to get target

def coin_sorter(coins, target):
    result = []
    for coin in sorted(coins, reverse=True):
        print(f'coin {coin} target {target}')
        while target >= coin:
            result.append(coin)
            target -= coin
    return result
# Test the function
coins = [1, 3, 5]
target = 9
print(coin_sorter(coins, target))  # Output: [5, 3, 1]

coin 5 target 9
coin 3 target 4
coin 1 target 1
[5, 3, 1]

-------------------------------------------

# DATA STRUCTURES

-> Data structures enables us to efficiently 

    - store

    - organize

    - manipulate (insert/ update/ delete)  

    - Access


## Types of Data structures:
### 1. Primitive Types:

-> Int

-> Str

-> Bool

-> Float


### 2. Non Primitive:

-> List

->Tuple

-> Set

->Dictionary


Non Primitive types are used to store and process non-linear or group of values. 

eg. salary=(101,102,103,104,105)

----------------------

# LIST

## Characteristics of List:

-> A list is represented using [ ]

-> A list can contain elements of multiple data types (Compound structure).

-> A list can contain duplicate elements

-> A list is a mutable data structure, i.e. the elements in the list can be manipulated (add/ remove).

-> List is ordered, it means the sequence in which elements are added is retained while accessing items.

In [ ]:
grocery = ['hello', True, False, 10, 10.5, [1,2,3]]
type(grocery)

list

In [ ]:
shopping_cart=[]
print(f'Total products in cart, {len(shopping_cart)}')

Total products in cart, 0

## Insert Elements

### ListName.append(value)

In [ ]:
# adding element in the list using append()
shopping_cart.append('iPhone')
shopping_cart

['iPhone']

In [ ]:
shopping_cart.append('airPods')
shopping_cart.append('iPad')
shopping_cart.append('Macbook')
shopping_cart.append('Airfrier')
shopping_cart

['iPhone', 'airPods', 'iPad', 'Macbook', 'Airfrier']

In [ ]:
print(f'Total products in cart, {len(shopping_cart)}')

Total products in cart, 5

### ListName.extend(newList)

In [ ]:
# adding multiple elements in a list using extend()
combo_offer=['backpack','charger','datacable']
shopping_cart.extend(combo_offer)
print(shopping_cart)

['iPhone', 'airPods', 'iPad', 'Macbook', 'Airfrier', 'backpack', 'charger', 'datacable']

## Removing Elements

### Method-1: ListName.remove(element)

In [ ]:
shopping_cart.remove('iPad') 
print(shopping_cart)

['iPhone', 'airPods', 'Macbook', 'Airfrier', 'backpack', 'charger', 'datacable']

### Method-2: del ListName[index]

In [ ]:
del shopping_cart[2] #macbook
print(shopping_cart)

['iPhone', 'airPods', 'Airfrier', 'backpack', 'charger', 'datacable']

### Method-3: ListName.pop() 

-> removes last element (default)

-> works with index also

-> returns the deleted element

In [ ]:
shopping_cart.pop()  #Last element -> datacable

'datacable'

In [ ]:
shopping_cart.pop(1)  # airpods

'airPods'

# Speed Test
=====================================================

### To prove numpy is more efficient than python

Add 1 million numbers using python vs numpy.

Check which method takes less time

In [1]:
import time
import numpy as np

size = 1000000
L1=range(size)
L2=range(size)

A1=np.arange(size)
A2=np.arange(size)

start=time.time()
result=[x+y for x,y in zip(L1,L2)]
stop=time.time()

print('Python took ', (stop-start)*1000, ' ms')

start = time.time()
result = A1+A2
stop=time.time()

print('Numpy took ', (stop-start)*1000, ' ms')

Python took  169.5542335510254  ms
Numpy took  32.724857330322266  ms

### Memory Consumption Test

In [ ]:
import sys
print('Python takes ', sys.getsizeof(5), ' bytes')
print('Numpy takes ',np.array([1,2,3]).itemsize, ' bytes')

Python takes  28  bytes
Numpy takes  4  bytes

=================================================================

## Working with index

In [ ]:
shopping_cart

['iPhone', 'Airfrier', 'backpack', 'charger']

In [ ]:
shopping_cart[1]  # indexing starts from 0

'Airfrier'

In [ ]:
shopping_cart[-1]  # negative -> from last

'charger'

## Sorting

In [ ]:
shopping_cart

['iPhone', 'Airfrier', 'backpack', 'charger']

In [ ]:
sorted(shopping_cart)

['Airfrier', 'backpack', 'charger', 'iPhone']

sorted returns new sorted list and the original isn't sorted

In [ ]:
shopping_cart

['iPhone', 'Airfrier', 'backpack', 'charger']

In [ ]:
shopping_cart.sort()

sort() method sorts the original list and returns None

In [ ]:
shopping_cart

['Airfrier', 'backpack', 'charger', 'iPhone']

# ACTIVITY
=============================================================================================

Assume there is a birthday party. You are provided with the height of candles used on cake. 

candles = [4,1,3,4,4]

Find count of tallest candle.

Output: 3 

Explanation: there are 3 tallest candles with height=4

Cannot use max() method

In [ ]:
candles = [4,1,3,4,4]
candles.sort(reverse=True)
count=candles.count(candles[0])
print(count)

3

==============================================================================================

-------------------

# Tuple

Tuple are known for their ReadOnly (Immutable) nature

In [ ]:
panCards = ('aonpc3222J','IBKQ39191','MCJN33191')
type(panCards)

tuple

In [ ]:
# Tuples are immutable: cannot delete/ add/ sort
del panCards[0]

TypeError: 'tuple' object doesn't support item deletion

A list contained in a tuple can be manipulated, not whole list but elements inside list.

In [ ]:
demo = (1,2,[3,4])
demo[2][0]

3

In [ ]:
# we can update the list inside the tuple
demo[2][0] = 99
demo

(1, 2, [99, 4])

## Packing and Unpacking

In [ ]:
# Packing:

icecreme = ('chocolate','strawberry','rum-rasin')

In [ ]:
# Unpacking:

f1, f2, f3 = icecreme

In [ ]:
f1

'chocolate'

In [ ]:
f2

'strawberry'

In [69]:
f3

'rum-rasin'

# ACTIVITY
==============================================================

Assume you were riding a bike and later caught by a police officer. You are asked to provide below details.

1. What is your rideing speed?

2. Is it your birthday?

Calculate the ticket as per the details below:

if speed > 80 'big ticket'

if speed > 60 and < 80 'small ticket'

if speed < 60 'no ticket'

If rider's birthday then 5 miles/hr will be exempted from speed before calculating.

Ex:

speed= 83

isBirthday='Y'

expected result: 'small ticket'

In [74]:
def calculate_ticket(speed, is_birthday):
    if is_birthday == 'Y':
        speed -= 5  
    
    ticket_thresholds = (80, 60)
    ticket_descriptions = ('big ticket', 'small ticket')
    
    for i, threshold in enumerate(ticket_thresholds):
        if speed > threshold:
            return ticket_descriptions[i]
    return 'no ticket'

speed = 83
is_birthday = 'Y'
print(calculate_ticket(speed, is_birthday))

small ticket

==============================================================

-------------------------------

# Type Conversion

In [75]:
# Tuple to List

list((1,2,3))

[1, 2, 3]

In [76]:
# List to Tuple

tuple([1,2,3])

(1, 2, 3)

In [77]:
# List conversion with strings gives us individual characters

list('sheetal')

['s', 'h', 'e', 'e', 't', 'a', 'l']

Implicit -> auto conversion

Explicit -> Manual conversion

In [78]:
# Implicit type conversion

n1=20   # int
n2=20.5 # float
sum = n1 + n2
sum     # float

40.5

In [79]:
# Explicit

s = "10010"
# printing string converting to int base 2
c = int(s,2)
print ("After converting to integer base 2 : ", end="")
print (c)

After converting to integer base 2 : 18

-----------------------------

# Set

-> Elimates duplicates

-> Mutable

-> Can contain elements of different data types

-> Unordered

-> Indexing is not supported

In [81]:
colors = {'orange','red','maroon','cyan','indigo','red','orange'}
colors

{'cyan', 'indigo', 'maroon', 'orange', 'red'}

In [82]:
for c in colors:
    print(c)

indigo
cyan
maroon
red
orange

In [83]:
# Indexing is not supported
colors[0]

TypeError: 'set' object is not subscriptable

Adding and Removing elements

In [85]:
colors.add('brown')
colors

{'brown', 'cyan', 'indigo', 'maroon', 'orange', 'red'}

In [86]:
colors.remove('cyan')
colors

{'brown', 'indigo', 'maroon', 'orange', 'red'}

## Mathematics using Set

In [91]:
marketingTeam = {'rishi','shakeer','vyshnavi','prasanna', 'fardeen'}
salesTeam = {'shakeer','jayashankar','rajendra','fardeen','vamsi'}

In [92]:
marketingTeam

{'fardeen', 'prasanna', 'rishi', 'shakeer', 'vyshnavi'}

In [93]:
salesTeam

{'fardeen', 'jayashankar', 'rajendra', 'shakeer', 'vamsi'}

### 1. Find employees working in both the teams

### Intersection

In [96]:
marketingTeam.intersection(salesTeam)

{'fardeen', 'shakeer'}

In [95]:
marketingTeam & salesTeam

{'fardeen', 'shakeer'}

### 2. Find marketing team employees only. 

### Difference

In [97]:
marketingTeam.difference(salesTeam)

{'prasanna', 'rishi', 'vyshnavi'}

In [98]:
marketingTeam - salesTeam

{'prasanna', 'rishi', 'vyshnavi'}

### 3. Prepare report including all employees from both team.

### Union

In [99]:
marketingTeam.union(salesTeam)

{'fardeen',
 'jayashankar',
 'prasanna',
 'rajendra',
 'rishi',
 'shakeer',
 'vamsi',
 'vyshnavi'}

In [100]:
marketingTeam | salesTeam

{'fardeen',
 'jayashankar',
 'prasanna',
 'rajendra',
 'rishi',
 'shakeer',
 'vamsi',
 'vyshnavi'}

### 4. Find all employees from both team who work for their own team only.

### Symmetric Difference

In [101]:
marketingTeam.symmetric_difference(salesTeam)

{'jayashankar', 'prasanna', 'rajendra', 'rishi', 'vamsi', 'vyshnavi'}

In [102]:
marketingTeam ^ salesTeam

{'jayashankar', 'prasanna', 'rajendra', 'rishi', 'vamsi', 'vyshnavi'}

#### union vs symmetric difference:

-> union includes intersection data too which symmetric difference excludes

-------------------------

# Dictionary

-> syntax: {key:value}

-> keys cannot be repeated in a dict (you can repeat value).

-> Ordered

-> Mutable

-> Only immutable types can be used as key. eg. int/float/bool/str/tuple

In [103]:
lang = {'en':'english', 'hi':'hindi', 'fr': 'french'}
type(lang)

dict

In [104]:
lang

{'en': 'english', 'hi': 'hindi', 'fr': 'french'}

In [107]:
# create empty dict
usa = {}

## Add key-value pair

### dictName[key]=value

In [109]:
usa['Tx']='Texas'
usa['Al']='Alabama'
usa

{'Tx': 'Texas', 'Al': 'Alabama'}

## Add multiple pairs

### dictName.update({key:value})

In [110]:
usa.update({'Ca':'California', 'Il':'Illinois', 'Hi':'Hawai'})
usa

{'Tx': 'Texas',
 'Al': 'Alabama',
 'Ca': 'California',
 'Il': 'Illinois',
 'Hi': 'Hawai'}

## Delete key-value pair

### del dict[key]

In [111]:
del usa['Il']

In [112]:
usa

{'Tx': 'Texas', 'Al': 'Alabama', 'Ca': 'California', 'Hi': 'Hawai'}

## Get value from Dict

### Method-1: dict[key] -> throws error when non existing key is provided

### Method-2: dict.get(key) -> doesnot throws error when non existing key is provided

.get() also has a provision to produce a default value when a non existing key is provided.

.get(key, default_value)

In [113]:
usa['Tx']

'Texas'

In [114]:
usa.get('Tx')

'Texas'

In [115]:
# Non-existing key
usa.get('xoxo','Oops! key not found')

'Oops! key not found'

In [116]:
# Existing key
usa.get('Tx','Oops! key not found')

'Texas'

## Accessing Elements

In [117]:
usa.keys()

dict_keys(['Tx', 'Al', 'Ca', 'Hi'])

In [118]:
usa.values()

dict_values(['Texas', 'Alabama', 'California', 'Hawai'])

In [119]:
usa.items()

dict_items([('Tx', 'Texas'), ('Al', 'Alabama'), ('Ca', 'California'), ('Hi', 'Hawai')])

In [120]:
for key in usa:
    print(key, usa[key])

Tx Texas
Al Alabama
Ca California
Hi Hawai

In [121]:
for k,v in usa.items():
    print(k,v)

Tx Texas
Al Alabama
Ca California
Hi Hawai

# ACTIVITY
===========================================

days=['sun', 'mon', 'tue', 'wed']

fruits=['apple','kiwi', 'papaya', 'orange']

In [126]:
days=['sun', 'mon', 'tue', 'wed']
fruits=['apple','kiwi', 'papaya', 'orange']

d = {}
for i in range(len(days)):
    d[days[i]]=fruits[i]
print(d)

{'sun': 'apple', 'mon': 'kiwi', 'tue': 'papaya', 'wed': 'orange'}

In [125]:
days=['sun', 'mon', 'tue', 'wed']
fruits=['apple','kiwi', 'papaya', 'orange']
mydict={}
for d,f in zip(days,fruits):
    mydict[d]=f

mydict

{'sun': 'apple', 'mon': 'kiwi', 'tue': 'papaya', 'wed': 'orange'}

===============================================

# ACTIVITY
===================================================

shop_cart=['orange','peach','apple','kiwi']

prices = {
    'orange':1.5,
    'apple':2,
    'peach':3,
    'kiwi':4.5
}

stock={
    'orange':24,
    'apple':0,
    'peach':10,
    'kiwi':5
}

find total bill value for the products in cart, make sure you dont bill products that are out of stock.

In [129]:
shop_cart=['orange','peach','apple','kiwi']

prices = {
    'orange':1.5,
    'apple':2,
    'peach':3,
    'kiwi':4.5
}
 
stock={
    'orange':24,
    'apple':0,
    'peach':10,
    'kiwi':5
}

total = 0
for i in shop_cart:
    if stock[i] > 0:
        total += prices[i]
        stock[i] -= 1
print(total)

9.0

======================================================

------------------------

# FILE HANDLING

In [130]:
myfile=open('c390.txt','w')
myfile.close()
print('File created successfully')

File created successfully

## Writing data in File

### 'w' mode

In [131]:
myfile=open('c390.txt','w')
myfile.write('Hello \n')
myfile.write('My name is Sheetal \n')
myfile.close()
print('File updated! ')

File updated!

## Append Mode

### 'a' mode

prevents file overwriting

In [132]:
myfile=open('c390.txt','a')
myfile.write('I am learning Python \n')
myfile.write('I live in BLR \n')
myfile.close()
print('File updated! ')

File updated!

## Reading file

### 'r' mode

read() -> returns whole content as string

readlines() -> returns a list where each line is a list element

In [133]:
myfile=open('c390.txt','r')
content = myfile.read()   
print(content)

Hello
My name is Sheetal
I am learning Python
I live in BLR

In [134]:
myfile=open('c390.txt','r')
content = myfile.readlines()   
print(content)

['Hello \n', 'My name is Sheetal \n', 'I am learning Python \n', 'I live in BLR \n']

# ACTIVITY
==================================================

Find average of each student from the csv file:

Rollno, name, mark1, mark2, mark3

101,Shakeer,45,65,87

102,sushma,56,87,91

103,rishi,58,87,45

In [137]:
s=open('students.csv','r')
content = s.readlines()   
print(content)

['101,Shakeer,45,65,87\n', '102,sushma,56,87,91\n', '103,rishi,58,87,45']

In [143]:
f=open('students.csv','r')
c = f.readlines()
for i in range(0,len(c)):
    a=c[i].split(',')
    print(a[1],": ",(int(a[-1])+int(a[-2])+int(a[-3]))/3)

f.close()

Shakeer :  65.66666666666667
sushma :  78.0
rishi :  63.333333333333336

=================================================================

------------------

# Python's best Coding Practices

1] List Comrehension

2] Dictionary Comprehension

Comprehension can be thought of as 'One Liner Expression'

## List Comprehension

### [ < output expression > < loop > ]

In [1]:
['*'   for x in range(5)]

['*', '*', '*', '*', '*']

In [4]:
[x   for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
[x   for x in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
[x*x   for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
[f'2 * {x} = {2*x}'   for x in range(1,11)]

['2 * 1 = 2',
 '2 * 2 = 4',
 '2 * 3 = 6',
 '2 * 4 = 8',
 '2 * 5 = 10',
 '2 * 6 = 12',
 '2 * 7 = 14',
 '2 * 8 = 16',
 '2 * 9 = 18',
 '2 * 10 = 20']

In [8]:
colors = ['red','orange','maroon','indigo','cyan']
[c  for c in colors]

['red', 'orange', 'maroon', 'indigo', 'cyan']

In [9]:
# first character of each color
[c[0]  for c in colors]

['r', 'o', 'm', 'i', 'c']

In [10]:
#Last character of each color
[c[-1]  for c in colors]

['d', 'e', 'n', 'o', 'n']

In [11]:
#reverse each
[c[::-1]  for c in colors]

['der', 'egnaro', 'nooram', 'ogidni', 'nayc']

In [12]:
#Each in caps
[c.upper()  for c in colors]

['RED', 'ORANGE', 'MAROON', 'INDIGO', 'CYAN']

In [13]:
#Each in lower case
[c.lower()  for c in colors]

['red', 'orange', 'maroon', 'indigo', 'cyan']

## Comprehension with condition

### [ < output-expression >  < loop >   < if-condition > ]

In [14]:
[x  for x in range(100)  if x<6]

[0, 1, 2, 3, 4, 5]

### [ < if-result >  < if-condition > < else >  < else-result >  < loop > ]

In [15]:
['even'  if x%2==0  else  'odd'  for x in range(1,6)]

['odd', 'even', 'odd', 'even', 'odd']

In [16]:
# vowels in colors list
[ c for c in colors if c[0] in 'aeiou' ]

['orange', 'indigo']

# ACTIVITY
====================================================

Player weights in pounds. 

Comprehension to print their weights in kg.

1pound = 0.45kg

In [18]:
pw=[110,120,130,140,150,160]

[f'{w} pounds is {w*0.45} kg(s)'  for w in pw]

['110 pounds is 49.5 kg(s)',
 '120 pounds is 54.0 kg(s)',
 '130 pounds is 58.5 kg(s)',
 '140 pounds is 63.0 kg(s)',
 '150 pounds is 67.5 kg(s)',
 '160 pounds is 72.0 kg(s)']

In [19]:
karachiBakery= [ ('veg','biscuit'), ('veg','dhokla') ,('nonveg','butterchicken'),('veg','paneer'),('nonveg','prawns')]

In [22]:
# Print only veg items

[f'veg: {v}' for k,v in karachiBakery if k == 'veg']

# [ item[1]  for item in karachiBackery  if item[0]=='veg']

['veg: biscuit', 'veg: dhokla', 'veg: paneer']

===========================================================================

## Dictionary Comprehension

### { key : value  < loop > }

In [23]:
{ x: '*'  for x in range(1,6)}

{1: '*', 2: '*', 3: '*', 4: '*', 5: '*'}

In [24]:
{ x: x*x  for x in range(1,6)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [38]:
# key=pounds, value=kg
pw=[110,120,130,140,150,160]
{ k: k*0.45   for k in pw}

{110: 49.5, 120: 54.0, 130: 58.5, 140: 63.0, 150: 67.5, 160: 72.0}

In [41]:
#key=color, value=number of characters in that color
{c:len(c) for c in colors}

{'red': 3, 'orange': 6, 'maroon': 6, 'indigo': 6, 'cyan': 4}

In [30]:
chotuScores=[41,67,32,28,84,76]
# key is score, value is pass/fail

{s: 'pass' if s > 44 else 'fail' for s in chotuScores}

{41: 'fail', 67: 'pass', 32: 'fail', 28: 'fail', 84: 'pass', 76: 'pass'}

# Functional Programming

Encourages use of functions for solving problems.

Advantages of functions:

1] Code reusability

2] Modular or distributed coding

3] Reduced code complexity

# Lambda Expression

Lambda is a one liner function

In [31]:
def greet():
    return 'Good morning'

greet()

'Good morning'

In [35]:
greet1 = lambda : 'Good morning'

greet1()

'Good morning'

### funcName = lambda < input-variable > : < output-expression >

In [36]:
getSquare = lambda num:num*num

getSquare(7)

49

In [37]:
getForce = lambda mass,acc : mass*acc

getForce(10, 8)

80

In [40]:
pw=[110,120,130,140,150,160]
lbstokg = lambda lbs: lbs*0.45
[f'Pounds= {w}, Kgs= {lbstokg(w)}' for w in pw]

['Pounds= 110, Kgs= 49.5',
 'Pounds= 120, Kgs= 54.0',
 'Pounds= 130, Kgs= 58.5',
 'Pounds= 140, Kgs= 63.0',
 'Pounds= 150, Kgs= 67.5',
 'Pounds= 160, Kgs= 72.0']

# ACTIVITY
==================================================

1] C = (F - 32)  5/9

In [46]:
convert = lambda f: round((f-32)*(5/9),2)
convert(80)

26.67

2] Send invitations to scientists:

Dear Mr. Name 

Dear Mr. Name

In [58]:
scientists= 'Thomas Edison,Georg Simon Ohm,John Dalton,Pierre Louis Dulong'
[f'Dear Mr. {name.split()[-1]}. {name[0]}' for name in scientists.split(',')]

['Dear Mr. Edison. T',
 'Dear Mr. Ohm. G',
 'Dear Mr. Dalton. J',
 'Dear Mr. Dulong. P']

=========================================================================

# ACTIVITY
===========================================================

1] Take any input from user 

2] reverse the input

3] Replace vowels as per the details below:

a -> 0

e -> 1

i -> 2

0 -> 3

u -> 4

4] add 'aca' at the end

apple -> 1lpp0aca

In [4]:
s = input('Enter a string: ')
reverse = s[::-1]
vowel = {'a': '0', 'e': '1', 'i': '2', 'o': '3', 'u': '4'}
replace = ''.join(vowel.get(r, r) for r in reverse)
result = replace + 'aca'
print(result)

l0t11hsaca

============================================================

# MAP, FILTER, REDUCE

## MAP

map function maps each element of a given list to a function and produces a new ResultSet.

map ( function , data )

In [1]:
# find the square using map
# data -> 2,4,5,3,6
# function -> lambda num: num*num

map(lambda n: n*n, [2,4,5,3,6])

In [2]:
set(map ( lambda num: num*num, [2, 4, 5, 3, 6] ))

{4, 9, 16, 25, 36}

In [7]:
list(map ( lambda num: num*num, [2, 4, 5, 3, 6] ))

[4, 16, 25, 9, 36]

In [9]:
dict(map ( lambda num: (num,num*num), [2, 4, 5, 3, 6] ))

{2: 4, 4: 16, 5: 25, 3: 9, 6: 36}

In [10]:
tuple(map ( lambda num: num*num, [2, 4, 5, 3, 6] ))

(4, 16, 25, 9, 36)

In [11]:
dirtyData=['2.2','4.21','4.1']
list(map(float, dirtyData))

[2.2, 4.21, 4.1]

In [13]:
colors = ['red','orange','maroon','indigo','cyan']
list(map(len, colors))

[3, 6, 6, 6, 4]

# ACTIVITY
=================================================================

Salary data of 6 employees. 

salaries = [5500, 8700, 9400, 4300, 8900, 4400]

Use map function to increment each salary by 16% and print the incremented salary.

In [17]:
salaries = [5500, 8700, 9400, 4300, 8900, 4400]
list(map(lambda n:n+(n*0.16), salaries))

[6380.0, 10092.0, 10904.0, 4988.0, 10324.0, 5104.0]

====================================================================================

## Filter

filter is used to extract subset of original data.

filter ( bool_func, data )

In [21]:
# Print even number
ans = list(filter( lambda n:n%2==0, [1,4,5,9,8,3]))
ans

[4, 8]

In [23]:
# Print strings starting with a vowel
colors = ['red','orange','maroon','indigo','cyan']
list(filter(lambda c: c[0] in 'aeiou', colors))

['orange', 'indigo']

In [27]:
# Print only integers
garbage = [100, True, 200, False, 300, 'hello']
list(filter(lambda i: type(i)==int, garbage))

[100, 200, 300]

## Reduce

Reduce is only used to aggregate data. 

-> You will only use reduce when you are looking or facts like max/ min/ sum etc.

reduce ( function , data )

-> import from functools

-> The input data is always 2

In [28]:
from functools import reduce

In [29]:
# sum of list
reduce(lambda x,y: x+y, [8,4,5,7,6])

"""
Explanation:
x   y
8   4    x+y gives 12
12  5    x+y gives 17
17  7    x+y gives 24
12  6    x+y gives 30

reduce function is designed to return x as final result i.e. 30
"""

30

In [30]:
# Find max score

scores = [4,1,2,6,5,3,9]
reduce(lambda x,y: x if x>y else y, scores)

"""
Explanation:
x   y
4   1    gives 4
4   2    gives 4
4   6    gives 6
6   5    gives 6
6   3    gives 6
6   9    gives 9
9
"""

9

In [31]:
# Find min score
scores = [4,1,2,6,5,3,9]
reduce(lambda x,y: x if x<y else y, scores)

1

# ACTIVITY
===================================

Load the dataset

In [32]:
google = open('google_stock_price.csv').readlines()
google

['Stock Price\n',
 '50.12\n',
 '54.1\n',
 '54.65\n',
 '52.38\n',
 '52.95\n',
 '53.9\n',
 '53.02\n',
 '50.95\n',
 '51.13\n',
 '50.07\n',
 '50.7\n',
 '49.95\n',
 '50.74\n',
 '51.1\n',
 '51.1\n',
 '52.61\n',
 '53.7\n',
 '55.69\n',
 '55.94\n',
 '56.93\n',
 '58.69\n',
 '59.62\n',
 '58.86\n',
 '59.13\n',
 '60.35\n',
 '59.86\n',
 '59.07\n',
 '63.37\n',
 '65.47\n',
 '64.74\n',
 '66.22\n',
 '67.46\n',
 '69.12\n',
 '68.47\n',
 '69.36\n',
 '68.8\n',
 '67.56\n',
 '68.63\n',
 '70.38\n',
 '70.93\n',
 '71.98\n',
 '74.51\n',
 '73.9\n',
 '70.17\n',
 '74.62\n',
 '86.13\n',
 '93.61\n',
 '90.81\n',
 '92.89\n',
 '96.55\n',
 '95.22\n',
 '97.92\n',
 '97.34\n',
 '95.74\n',
 '92.26\n',
 '84.59\n',
 '86.19\n',
 '84.27\n',
 '83.85\n',
 '91.42\n',
 '90.91\n',
 '92.34\n',
 '86.19\n',
 '86.16\n',
 '83.69\n',
 '84.62\n',
 '82.47\n',
 '83.68\n',
 '87.29\n',
 '89.61\n',
 '90.43\n',
 '90.9\n',
 '89.89\n',
 '89.61\n',
 '90.11\n',
 '88.06\n',
 '85.63\n',
 '84.91\n',
 '86.63\n',
 '85.74\n',
 '85.14\n',
 '89.26\n',
 '89.8\n',
 '88.15\n',
 '89.95\n',
 '92.42\n',
 '91.78\n',
 '93.06\n',
 '93.86\n',
 '95.86\n',
 '96.28\n',
 '96.35\n',
 '98.7\n',
 '96.3\n',
 '101.25\n',
 '97.15\n',
 '96.66\n',
 '94.18\n',
 '96.83\n',
 '97.43\n',
 '96.67\n',
 '97.59\n',
 '97.57\n',
 '99.89\n',
 '101.85\n',
 '98.55\n',
 '96.86\n',
 '94.05\n',
 '90.27\n',
 '88.47\n',
 '94.53\n',
 '93.95\n',
 '95.07\n',
 '97.71\n',
 '95.85\n',
 '102.88\n',
 '105.32\n',
 '102.08\n',
 '97.92\n',
 '99.22\n',
 '95.69\n',
 '93.9\n',
 '93.61\n',
 '96.4\n',
 '97.52\n',
 '99.11\n',
 '98.85\n',
 '98.88\n',
 '95.59\n',
 '96.88\n',
 '94.35\n',
 '92.84\n',
 '93.9\n',
 '92.94\n',
 '92.5\n',
 '93.41\n',
 '92.86\n',
 '94.31\n',
 '92.51\n',
 '90.58\n',
 '89.9\n',
 '88.81\n',
 '87.41\n',
 '89.22\n',
 '87.71\n',
 '89.56\n',
 '89.93\n',
 '90.35\n',
 '89.21\n',
 '89.4\n',
 '89.54\n',
 '90.62\n',
 '89.7\n',
 '90.13\n',
 '90.16\n',
 '89.93\n',
 '92.55\n',
 '94.19\n',
 '94.52\n',
 '96.78\n',
 '95.93\n',
 '96.52\n',
 '96.88\n',
 '96.37\n',
 '95.63\n',
 '92.41\n',
 '93.39\n',
 '95.6\n',
 '98.95\n',
 '102.01\n',
 '107.8\n',
 '111.65\n',
 '109.27\n',
 '109.78\n',
 '109.62\n',
 '109.89\n',
 '111.03\n',
 '112.98\n',
 '114.14\n',
 '113.38\n',
 '113.9\n',
 '112.9\n',
 '113.79\n',
 '115.53\n',
 '114.25\n',
 '114.51\n',
 '115.41\n',
 '116.45\n',
 '119.46\n',
 '119.47\n',
 '120.68\n',
 '127.6\n',
 '127.87\n',
 '130.27\n',
 '129.47\n',
 '132.87\n',
 '138.5\n',
 '143.86\n',
 '143.81\n',
 '139.99\n',
 '145.32\n',
 '146.41\n',
 '139.64\n',
 '143.01\n',
 '141.11\n',
 '141.23\n',
 '139.04\n',
 '137.26\n',
 '138.58\n',
 '140\n',
 '143.21\n',
 '143.78\n',
 '144.51\n',
 '144.71\n',
 '148.48\n',
 '151.9\n',
 '150.85\n',
 '146.21\n',
 '146.93\n',
 '145.48\n',
 '147.71\n',
 '145.62\n',
 '147.62\n',
 '147.97\n',
 '146.53\n',
 '145.75\n',
 '149.28\n',
 '150.29\n',
 '150.44\n',
 '149.62\n',
 '154.8\n',
 '155.84\n',
 '156.81\n',
 '151.05\n',
 '147.78\n',
 '147.9\n',
 '148.32\n',
 '146.6\n',
 '143.74\n',
 '145.66\n',
 '149.45\n',
 '148.5\n',
 '148.72\n',
 '146.03\n',
 '145.48\n',
 '145.64\n',
 '142.7\n',
 '141.88\n',
 '144.72\n',
 '141.86\n',
 '142.68\n',
 '142.41\n',
 '139.86\n',
 '139.86\n',
 '136.87\n',
 '139.65\n',
 '141.14\n',
 '141.15\n',
 '141.65\n',
 '144.08\n',
 '143.49\n',
 '142.86\n',
 '142.98\n',
 '144.08\n',
 '143.41\n',
 '147.29\n',
 '147.55\n',
 '149.4\n',
 '154.72\n',
 '155.68\n',
 '151.35\n',
 '151.16\n',
 '149.95\n',
 '151.74\n',
 '153.8\n',
 '155.79\n',
 '155.53\n',
 '157.52\n',
 '156.98\n',
 '156.81\n',
 '152.85\n',
 '154.66\n',
 '158.07\n',
 '159.18\n',
 '155.34\n',
 '155.2\n',
 '156.22\n',
 '156.34\n',
 '155.17\n',
 '152.9\n',
 '150.33\n',
 '148.57\n',
 '147.92\n',
 '152.35\n',
 '151.49\n',
 '154.2\n',
 '151.45\n',
 '169.78\n',
 '174.15\n',
 '173.28\n',
 '177.54\n',
 '176.35\n',
 '178.91\n',
 '185.88\n',
 '189.5\n',
 '189.65\n',
 '192.78\n',
 '195.02\n',
 '197.32\n',
 '194.76\n',
 '189.39\n',
 '195.35\n',
 '195\n',
 '198.29\n',
 '196.2\n',
 '198.88\n',
 '201.52\n',
 '199.9\n',
 '204.48\n',
 '208.03\n',
 '211.22\n',
 '214.1\n',
 '211.53\n',
 '201.57\n',
 '202.25\n',
 '206.84\n',
 '208.64\n',
 '202.72\n',
 '202.07\n',
 '201.91\n',
 '205.12\n',
 '204.4\n',
 '206.1\n',
 '208.54\n',
 '209.27\n',
 '211.05\n',
 '214.86\n',
 '212.09\n',
 '214.66\n',
 '212.95\n',
 '215.8\n',
 '215.25\n',
 '212.11\n',
 '213.13\n',
 '209.86\n',
 '207.22\n',
 '217.4\n',
 '222.4\n',
 '225.39\n',
 '232.6\n',
 '233.22\n',
 '234.65\n',
 '235.58\n',
 '231.58\n',
 '232.89\n',
 '233.32\n',
 '222.23\n',
 '218\n',
 '199.53\n',
 '213.54\n',
 '221.29\n',
 '216.28\n',
 '216.92\n',
 '216.53\n',
 '213.2\n',
 '216.11\n',
 '200.69\n',
 '197.82\n',
 '190.59\n',
 '192.36\n',
 '183.78\n',
 '184.36\n',
 '179.21\n',
 '181.12\n',
 '172.68\n',
 '171.49\n',
 '171.02\n',
 '183.05\n',
 '184.19\n',
 '183.11\n',
 '182.56\n',
 '188.85\n',
 '188.51\n',
 '194.99\n',
 '181.13\n',
 '182.22\n',
 '188.04\n',
 '188.9\n',
 '183.87\n',
 '182.04\n',
 '176.76\n',
 '171.33\n',
 '168.58\n',
 '168.36\n',
 '175.4\n',
 '172.08\n',
 '169.22\n',
 '169.73\n',
 '173.92\n',
 '169.79\n',
 '169.94\n',
 '170.77\n',
 '182.72\n',
 '184.66\n',
 '188.41\n',
 '197.29\n',
 '194.03\n',
 '194.8\n',
 '194.66\n',
 '201.97\n',
 '203.79\n',
 '205.38\n',
 '202.88\n',
 '207.98\n',
 '204.63\n',
 '204.27\n',
 '200.88\n',
 '203.21\n',
 '201.92\n',
 '205.04\n',
 '207.29\n',
 '218.33\n',
 '220.03\n',
 '213.37\n',
 '212.77\n',
 '209.8\n',
 '208.76\n',
 '199.25\n',
 '197.2\n',
 '196.89\n',
 '197.18\n',
 '196.95\n',
 '197.19\n',
 '204.2\n',
 '201.29\n',
 '193.31\n',
 '186.88\n',
 '187.91\n',
 '185.46\n',
 '187.06\n',
 '185.31\n',
 '184.82\n',
 '185.29\n',
 '187.6\n',
 '190.43\n',
 '191.3\n',
 '190.48\n',
 '185.78\n',
 '185.72\n',
 '191.12\n',
 '189.53\n',
 '187.03\n',
 '194.8\n',
 '193.06\n',
 '196.45\n',
 '193.09\n',
 '190.58\n',
 '193.07\n',
 '192\n',
 '195.3\n',
 '195.15\n',
 '193.88\n',
 '193.39\n',
 '200.86\n',
 '199.78\n',
 '202.23\n',
 '201.91\n',
 '200.96\n',
 '202.85\n',
 '208.7\n',
 '209.46\n',
 '211.39\n',
 '210.52\n',
 '211.38\n',
 '210.01\n',
 '208.89\n',
 '212.07\n',
 '208.42\n',
 '204.21\n',
 '201.55\n',
 '203.74\n',
 '201.32\n',
 '199.3\n',
 '193.37\n',
 '194.86\n',
 '195.25\n',
 '194.49\n',
 '192.56\n',
 '191.01\n',
 '193.87\n',
 '193.11\n',
 '187.57\n',
 '183.43\n',
 '187.51\n',
 '186.74\n',
 '188.79\n',
 '190.31\n',
 '188.28\n',
 '186.91\n',
 '184.07\n',
 '184.53\n',
 '190.29\n',
 '193.67\n',
 '192.71\n',
 '191.49\n',
 '188.46\n',
 '188.96\n',
 '186.53\n',
 '186.68\n',
 '186.44\n',
 '190.28\n',
 '189.29\n',
 '190.18\n',
 '189.08\n',
 '189.11\n',
 '191.99\n',
 '189.88\n',
 '189.06\n',
 '188.74\n',
 '191.85\n',
 '195.75\n',
 '203.08\n',
 '201.79\n',
 '204.74\n',
 '207.14\n',
 '201.7\n',
 '198.3\n',
 '203.22\n',
 '201.69\n',
 '201.79\n',
 '203.23\n',
 '201.26\n',
 '201.59\n',
 '200.75\n',
 '200.52\n',
 '201.82\n',
 '207.64\n',
 '205.7\n',
 '210.04\n',
 '214.29\n',
 '213.11\n',
 '213.04\n',
 '213.51\n',
 '213.44\n',
 '210.66\n',
 '210.11\n',
 '209.44\n',
 '212.82\n',
 '229.61\n',
 '240.15\n',
 '236.42\n',
 '243.06\n',
 '242.31\n',
 '237.36\n',
 '238.05\n',
 '237.96\n',
 '233.52\n',
 '234.72\n',
 '235.66\n',
 '238.24\n',
 '236.05\n',
 '237.26\n',
 '236.08\n',
 '236.54\n',
 '240.27\n',
 '244.41\n',
 '245.72\n',
 '247.7\n',
 '249.15\n',
 '247.28\n',
 '254.57\n',
 '253.75\n',
 '252.2\n',
 '242.13\n',
 '244.51\n',
 '242.08\n',
 '242.16\n',
 '240.16\n',
 '242.18\n',
 '243.26\n',
 '244.11\n',
 '241.08\n',
 '241.81\n',
 '241.72\n',
 '240.65\n',
 '239.26\n',
 '240.82\n',
 '239.91\n',
 '231.17\n',
 '234.08\n',
 '231.22\n',
 '227.87\n',
 '227.56\n',
 '228.54\n',
 '233.78\n',
 '231.05\n',
 '230.01\n',
 '233.56\n',
 '241.39\n',
 '243.35\n',
 '241.55\n',
 '242.51\n',
 '244.49\n',
 '249.61\n',
 '252.25\n',
 '251.89\n',
 '248.39\n',
 '243.67\n',
 '244.63\n',
 '240.18\n',
 '239.29\n',
 '249.28\n',
 '243.8\n',
 '247.67\n',
 '245.99\n',
 '246.91\n',
 '250.5\n',
 '240.63\n',
 '240.51\n',
 '233.35\n',
 '235.5\n',
 '234.77\n',
 '235.28\n',
 '230.71\n',
 '228.92\n',
 '229.32\n',
 '232.73\n',
 '230.5\n',
 '234.74\n',
 '235.81\n',
 '237.69\n',
 '237.69\n',
 '235.07\n',
 '232.23\n',
 '224.16\n',
 '224.5\n',
 '223.89\n',
 '219.12\n',
 '220.25\n',
 '228.55\n',
 '227.59\n',
 '227.13\n',
 '226.25\n',
 '227.15\n',
 '221.29\n',
 '223.78\n',
 '222.87\n',
 '220.2\n',
 '223.39\n',
 '222.42\n',
 '228.05\n',
 '230.79\n',
 '230.68\n',
 '232.27\n',
 '231.58\n',
 '230.71\n',
 '230.23\n',
 '228.85\n',
 '229.04\n',
 '236.06\n',
 '235.27\n',
 '235.52\n',
 '233.87\n',
 '233.02\n',
 '232.03\n',
 '233.46\n',
 '232.91\n',
 '236.9\n',
 '236.16\n',
 '237.77\n',
 '235.59\n',
 '241\n',
 '239.3\n',
 '238.53\n',
 '238.76\n',
 '240.35\n',
 '239.27\n',
 '235.45\n',
 '234.27\n',
 '232.66\n',
 '236.38\n',
 '235.32\n',
 '233.4\n',
 '233.17\n',
 '234.39\n',
 '230.5\n',
 '233.14\n',
 '230.66\n',
 '228.77\n',
 '236.07\n',
 '235.24\n',
 '234.92\n',
 '235.06\n',
 '237.69\n',
 '236.75\n',
 '236.93\n',
 '241.52\n',
 '243.31\n',
 '249.05\n',
 '248.71\n',
 '249.95\n',
 '253.28\n',
 '259.16\n',
 '258.87\n',
 '257.27\n',
 '257.49\n',
 '255.41\n',
 '252.13\n',
 '252.37\n',
 '251.17\n',
 '252.69\n',
 '257.34\n',
 '256.9\n',
 '254.73\n',
 '256.8\n',
 '262.23\n',
 '263.45\n',
 '264.86\n',
 '262.88\n',
 '262.24\n',
 '261.09\n',
 '264.92\n',
 '266.9\n',
 '270.54\n',
 '269.43\n',
 '271.01\n',
 '271.4\n',
 '271.96\n',
 '272.39\n',
 '275.8\n',
 '276.22\n',
 '277.22\n',
 '274.48\n',
 '274.02\n',
 '259.8\n',
 '256\n',
 '256.74\n',
 '254.63\n',
 '253.75\n',
 '255.69\n',
 '257.8\n',
 '254.74\n',
 '256.21\n',
 '255.25\n',
 '251.25\n',
 '254.74\n',
 '257.75\n',
 '262.63\n',
 '257.11\n',
 '257.62\n',
 '257.49\n',
 '254.05\n',
 '248.53\n',
 '245.51\n',
 '249.77\n',
 '248.71\n',
 '253.05\n',
 '256.12\n',
 '255.84\n',
 '257.24\n',
 '256.37\n',
 '252.95\n',
 '256.18\n',
 '255.44\n',
 '257.37\n',
 '262.31\n',
 '263.64\n',
 '261.5\n',
 '259.42\n',
 '256.98\n',
 '260.4\n',
 '261.06\n',
 '262.13\n',
 '264.11\n',
 '262.39\n',
 '267.37\n',
 '273.15\n',
 '276.14\n',
 '279.77\n',
 '283.73\n',
 '284.22\n',
 '283.8\n',
 '283.47\n',
 '283.35\n',
 '290.98\n',
 '291.9\n',
 '291.72\n',
 '289.23\n',
 '296.73\n',
 '304.51\n',
 '307.28\n',
 '312.38\n',
 '310.69\n',
 '318.38\n',
 '309.74\n',
 '307.69\n',
 '316.42\n',
 '319.49\n',
 '322.03\n',
 '325.05\n',
 '337.55\n',
 '337.57\n',
 '333.92\n',
 '336.96\n',
 '339.28\n',
 '347.04\n',
 '353.15\n',
 '351.25\n',
 '355.27\n',
 '362.46\n',
 '370.52\n',
 '366.1\n',
 '346.57\n',
 '331.65\n',
 '315.72\n',
 '329.94\n',
 '320.52\n',
 '314.51\n',
 '316.5\n',
 '312.61\n',
 '323.95\n',
 '329.93\n',
 '338.01\n',
 '332.7\n',
 '336.45\n',
 '345.78\n',
 '348.15\n',
 '346.15\n',
 '340.42\n',
 '341.74\n',
 '348.91\n',
 '357.27\n',
 '357.08\n',
 '358.85\n',
 '349.25\n',
 '349.33\n',
 '346.68\n',
 '344.64\n',
 '334.28\n',
 '336.34\n',
 '338.35\n',
 '344.5\n',
 '348\n',
 '350.01\n',
 '355.06\n',
 '350.02\n',
 '350.91\n',
 '345.39\n',
 '342.25\n',
 '342.32\n',
 '328.17\n',
 '324.3\n',
 '315.52\n',
 '326.27\n',
 '323.04\n',
 '318.81\n',
 '326.58\n',
 '318.51\n',
 '307.67\n',
 '300.09\n',
 '299.82\n',
 '291.88\n',
 '274.04\n',
 '286.96\n',
 '282.92\n',
 '277.71\n',
 '274.98\n',
 '273.86\n',
 '281.87\n',
 '257.69\n',
 '247.47\n',
 '253.15\n',
 '250.6\n',
 '252.22\n',
 '258.09\n',
 '260.32\n',
 '258.79\n',
 '267.04\n',
 '265.86\n',
 '264.56\n',
 '254.22\n',
 '254.25\n',
 '251.18\n',
 '253.65\n',
 '242.98\n',
 '231.86\n',
 '236.19\n',
 '237.46\n',
 '235.35\n',
 '228.28\n',
 '222.08\n',
 '223.63\n',
 '216.13\n',
 '216.46\n',
 '206.6\n',
 '219.7\n',
 '219.87\n',
 '221.28\n',
 '218.74\n',
 '209.73\n',
 '219.36\n',
 '215.78\n',
 '216.56\n',
 '230.05\n',
 '225.16\n',
 '228.87\n',
 '221.82\n',
 '218.82\n',
 '220.01\n',
 '232.62\n',
 '232.62\n',
 '227.33\n',
 '235.31\n',
 '238.17\n',
 '233.67\n',
 '231.86\n',
 '234.3\n',
 '228.5\n',
 '225.6\n',
 '223.2\n',
 '227.29\n',
 '224.55\n',
 '269.44\n',
 '268.63\n',
 '277.22\n',
 '272.97\n',
 '271.25\n',
 '271.76\n',
 '275.78\n',
 '278.96\n',
 '286.86\n',
 '296.24\n',
 '290.35\n',
 '297.15\n',
 '292.89\n',
 '289.21\n',
 '291.21\n',
 '286.3\n',
 '292.18\n',
 '291.21\n',
 '287.86\n',
 '290.21\n',
 '289.74\n',
 '288.47\n',
 '289.01\n',
 '274.72\n',
 '274.46\n',
 '272.04\n',
 '280.17\n',
 '283.84\n',
 '291.21\n',
 '292.61\n',
 '287.21\n',
 '283.37\n',
 '285.82\n',
 '292.86\n',
 '283.22\n',
 '278.66\n',
 '276.81\n',
 '272.33\n',
 '276.2\n',
 '285.47\n',
 '286.12\n',
 '284.45\n',
 '280.91\n',
 '279.82\n',
 '272.94\n',
 '272.33\n',
 '270.88\n',
 '275.22\n',
 '264.15\n',
 '263.77\n',
 '262.95\n',
 '267.1\n',
 '263.26\n',
 '268.23\n',
 '271.68\n',
 '276.99\n',
 '270.5\n',
 '270.02\n',
 '266.63\n',
 '260.55\n',
 '257.79\n',
 '267.53\n',
 '266.45\n',
 '240.42\n',
 '234.17\n',
 '238.32\n',
 '244.37\n',
 '237.57\n',
 '245.74\n',
 '238.32\n',
 '241.31\n',
 '241.11\n',
 '236.64\n',
 '233.7\n',
 '231.27\n',
 '239.69\n',
 '242.93\n',
 ...]

In [39]:
# Delete the header and find the count of stocks
gnew=google[1:]
c=len(gnew)
c

# also can use -> del google[0]

3012

In [41]:
# convert all stocks strings to float -> store it in new list
gstock = list(map( float, gnew))
gstock

[50.12,
 54.1,
 54.65,
 52.38,
 52.95,
 53.9,
 53.02,
 50.95,
 51.13,
 50.07,
 50.7,
 49.95,
 50.74,
 51.1,
 51.1,
 52.61,
 53.7,
 55.69,
 55.94,
 56.93,
 58.69,
 59.62,
 58.86,
 59.13,
 60.35,
 59.86,
 59.07,
 63.37,
 65.47,
 64.74,
 66.22,
 67.46,
 69.12,
 68.47,
 69.36,
 68.8,
 67.56,
 68.63,
 70.38,
 70.93,
 71.98,
 74.51,
 73.9,
 70.17,
 74.62,
 86.13,
 93.61,
 90.81,
 92.89,
 96.55,
 95.22,
 97.92,
 97.34,
 95.74,
 92.26,
 84.59,
 86.19,
 84.27,
 83.85,
 91.42,
 90.91,
 92.34,
 86.19,
 86.16,
 83.69,
 84.62,
 82.47,
 83.68,
 87.29,
 89.61,
 90.43,
 90.9,
 89.89,
 89.61,
 90.11,
 88.06,
 85.63,
 84.91,
 86.63,
 85.74,
 85.14,
 89.26,
 89.8,
 88.15,
 89.95,
 92.42,
 91.78,
 93.06,
 93.86,
 95.86,
 96.28,
 96.35,
 98.7,
 96.3,
 101.25,
 97.15,
 96.66,
 94.18,
 96.83,
 97.43,
 96.67,
 97.59,
 97.57,
 99.89,
 101.85,
 98.55,
 96.86,
 94.05,
 90.27,
 88.47,
 94.53,
 93.95,
 95.07,
 97.71,
 95.85,
 102.88,
 105.32,
 102.08,
 97.92,
 99.22,
 95.69,
 93.9,
 93.61,
 96.4,
 97.52,
 99.11,
 98.85,
 98.88,
 95.59,
 96.88,
 94.35,
 92.84,
 93.9,
 92.94,
 92.5,
 93.41,
 92.86,
 94.31,
 92.51,
 90.58,
 89.9,
 88.81,
 87.41,
 89.22,
 87.71,
 89.56,
 89.93,
 90.35,
 89.21,
 89.4,
 89.54,
 90.62,
 89.7,
 90.13,
 90.16,
 89.93,
 92.55,
 94.19,
 94.52,
 96.78,
 95.93,
 96.52,
 96.88,
 96.37,
 95.63,
 92.41,
 93.39,
 95.6,
 98.95,
 102.01,
 107.8,
 111.65,
 109.27,
 109.78,
 109.62,
 109.89,
 111.03,
 112.98,
 114.14,
 113.38,
 113.9,
 112.9,
 113.79,
 115.53,
 114.25,
 114.51,
 115.41,
 116.45,
 119.46,
 119.47,
 120.68,
 127.6,
 127.87,
 130.27,
 129.47,
 132.87,
 138.5,
 143.86,
 143.81,
 139.99,
 145.32,
 146.41,
 139.64,
 143.01,
 141.11,
 141.23,
 139.04,
 137.26,
 138.58,
 140.0,
 143.21,
 143.78,
 144.51,
 144.71,
 148.48,
 151.9,
 150.85,
 146.21,
 146.93,
 145.48,
 147.71,
 145.62,
 147.62,
 147.97,
 146.53,
 145.75,
 149.28,
 150.29,
 150.44,
 149.62,
 154.8,
 155.84,
 156.81,
 151.05,
 147.78,
 147.9,
 148.32,
 146.6,
 143.74,
 145.66,
 149.45,
 148.5,
 148.72,
 146.03,
 145.48,
 145.64,
 142.7,
 141.88,
 144.72,
 141.86,
 142.68,
 142.41,
 139.86,
 139.86,
 136.87,
 139.65,
 141.14,
 141.15,
 141.65,
 144.08,
 143.49,
 142.86,
 142.98,
 144.08,
 143.41,
 147.29,
 147.55,
 149.4,
 154.72,
 155.68,
 151.35,
 151.16,
 149.95,
 151.74,
 153.8,
 155.79,
 155.53,
 157.52,
 156.98,
 156.81,
 152.85,
 154.66,
 158.07,
 159.18,
 155.34,
 155.2,
 156.22,
 156.34,
 155.17,
 152.9,
 150.33,
 148.57,
 147.92,
 152.35,
 151.49,
 154.2,
 151.45,
 169.78,
 174.15,
 173.28,
 177.54,
 176.35,
 178.91,
 185.88,
 189.5,
 189.65,
 192.78,
 195.02,
 197.32,
 194.76,
 189.39,
 195.35,
 195.0,
 198.29,
 196.2,
 198.88,
 201.52,
 199.9,
 204.48,
 208.03,
 211.22,
 214.1,
 211.53,
 201.57,
 202.25,
 206.84,
 208.64,
 202.72,
 202.07,
 201.91,
 205.12,
 204.4,
 206.1,
 208.54,
 209.27,
 211.05,
 214.86,
 212.09,
 214.66,
 212.95,
 215.8,
 215.25,
 212.11,
 213.13,
 209.86,
 207.22,
 217.4,
 222.4,
 225.39,
 232.6,
 233.22,
 234.65,
 235.58,
 231.58,
 232.89,
 233.32,
 222.23,
 218.0,
 199.53,
 213.54,
 221.29,
 216.28,
 216.92,
 216.53,
 213.2,
 216.11,
 200.69,
 197.82,
 190.59,
 192.36,
 183.78,
 184.36,
 179.21,
 181.12,
 172.68,
 171.49,
 171.02,
 183.05,
 184.19,
 183.11,
 182.56,
 188.85,
 188.51,
 194.99,
 181.13,
 182.22,
 188.04,
 188.9,
 183.87,
 182.04,
 176.76,
 171.33,
 168.58,
 168.36,
 175.4,
 172.08,
 169.22,
 169.73,
 173.92,
 169.79,
 169.94,
 170.77,
 182.72,
 184.66,
 188.41,
 197.29,
 194.03,
 194.8,
 194.66,
 201.97,
 203.79,
 205.38,
 202.88,
 207.98,
 204.63,
 204.27,
 200.88,
 203.21,
 201.92,
 205.04,
 207.29,
 218.33,
 220.03,
 213.37,
 212.77,
 209.8,
 208.76,
 199.25,
 197.2,
 196.89,
 197.18,
 196.95,
 197.19,
 204.2,
 201.29,
 193.31,
 186.88,
 187.91,
 185.46,
 187.06,
 185.31,
 184.82,
 185.29,
 187.6,
 190.43,
 191.3,
 190.48,
 185.78,
 185.72,
 191.12,
 189.53,
 187.03,
 194.8,
 193.06,
 196.45,
 193.09,
 190.58,
 193.07,
 192.0,
 195.3,
 195.15,
 193.88,
 193.39,
 200.86,
 199.78,
 202.23,
 201.91,
 200.96,
 202.85,
 208.7,
 209.46,
 211.39,
 210.52,
 211.38,
 210.01,
 208.89,
 212.07,
 208.42,
 204.21,
 201.55,
 203.74,
 201.32,
 199.3,
 193.37,
 194.86,
 195.25,
 194.49,
 192.56,
 191.01,
 193.87,
 193.11,
 187.57,
 183.43,
 187.51,
 186.74,
 188.79,
 190.31,
 188.28,
 186.91,
 184.07,
 184.53,
 190.29,
 193.67,
 192.71,
 191.49,
 188.46,
 188.96,
 186.53,
 186.68,
 186.44,
 190.28,
 189.29,
 190.18,
 189.08,
 189.11,
 191.99,
 189.88,
 189.06,
 188.74,
 191.85,
 195.75,
 203.08,
 201.79,
 204.74,
 207.14,
 201.7,
 198.3,
 203.22,
 201.69,
 201.79,
 203.23,
 201.26,
 201.59,
 200.75,
 200.52,
 201.82,
 207.64,
 205.7,
 210.04,
 214.29,
 213.11,
 213.04,
 213.51,
 213.44,
 210.66,
 210.11,
 209.44,
 212.82,
 229.61,
 240.15,
 236.42,
 243.06,
 242.31,
 237.36,
 238.05,
 237.96,
 233.52,
 234.72,
 235.66,
 238.24,
 236.05,
 237.26,
 236.08,
 236.54,
 240.27,
 244.41,
 245.72,
 247.7,
 249.15,
 247.28,
 254.57,
 253.75,
 252.2,
 242.13,
 244.51,
 242.08,
 242.16,
 240.16,
 242.18,
 243.26,
 244.11,
 241.08,
 241.81,
 241.72,
 240.65,
 239.26,
 240.82,
 239.91,
 231.17,
 234.08,
 231.22,
 227.87,
 227.56,
 228.54,
 233.78,
 231.05,
 230.01,
 233.56,
 241.39,
 243.35,
 241.55,
 242.51,
 244.49,
 249.61,
 252.25,
 251.89,
 248.39,
 243.67,
 244.63,
 240.18,
 239.29,
 249.28,
 243.8,
 247.67,
 245.99,
 246.91,
 250.5,
 240.63,
 240.51,
 233.35,
 235.5,
 234.77,
 235.28,
 230.71,
 228.92,
 229.32,
 232.73,
 230.5,
 234.74,
 235.81,
 237.69,
 237.69,
 235.07,
 232.23,
 224.16,
 224.5,
 223.89,
 219.12,
 220.25,
 228.55,
 227.59,
 227.13,
 226.25,
 227.15,
 221.29,
 223.78,
 222.87,
 220.2,
 223.39,
 222.42,
 228.05,
 230.79,
 230.68,
 232.27,
 231.58,
 230.71,
 230.23,
 228.85,
 229.04,
 236.06,
 235.27,
 235.52,
 233.87,
 233.02,
 232.03,
 233.46,
 232.91,
 236.9,
 236.16,
 237.77,
 235.59,
 241.0,
 239.3,
 238.53,
 238.76,
 240.35,
 239.27,
 235.45,
 234.27,
 232.66,
 236.38,
 235.32,
 233.4,
 233.17,
 234.39,
 230.5,
 233.14,
 230.66,
 228.77,
 236.07,
 235.24,
 234.92,
 235.06,
 237.69,
 236.75,
 236.93,
 241.52,
 243.31,
 249.05,
 248.71,
 249.95,
 253.28,
 259.16,
 258.87,
 257.27,
 257.49,
 255.41,
 252.13,
 252.37,
 251.17,
 252.69,
 257.34,
 256.9,
 254.73,
 256.8,
 262.23,
 263.45,
 264.86,
 262.88,
 262.24,
 261.09,
 264.92,
 266.9,
 270.54,
 269.43,
 271.01,
 271.4,
 271.96,
 272.39,
 275.8,
 276.22,
 277.22,
 274.48,
 274.02,
 259.8,
 256.0,
 256.74,
 254.63,
 253.75,
 255.69,
 257.8,
 254.74,
 256.21,
 255.25,
 251.25,
 254.74,
 257.75,
 262.63,
 257.11,
 257.62,
 257.49,
 254.05,
 248.53,
 245.51,
 249.77,
 248.71,
 253.05,
 256.12,
 255.84,
 257.24,
 256.37,
 252.95,
 256.18,
 255.44,
 257.37,
 262.31,
 263.64,
 261.5,
 259.42,
 256.98,
 260.4,
 261.06,
 262.13,
 264.11,
 262.39,
 267.37,
 273.15,
 276.14,
 279.77,
 283.73,
 284.22,
 283.8,
 283.47,
 283.35,
 290.98,
 291.9,
 291.72,
 289.23,
 296.73,
 304.51,
 307.28,
 312.38,
 310.69,
 318.38,
 309.74,
 307.69,
 316.42,
 319.49,
 322.03,
 325.05,
 337.55,
 337.57,
 333.92,
 336.96,
 339.28,
 347.04,
 353.15,
 351.25,
 355.27,
 362.46,
 370.52,
 366.1,
 346.57,
 331.65,
 315.72,
 329.94,
 320.52,
 314.51,
 316.5,
 312.61,
 323.95,
 329.93,
 338.01,
 332.7,
 336.45,
 345.78,
 348.15,
 346.15,
 340.42,
 341.74,
 348.91,
 357.27,
 357.08,
 358.85,
 349.25,
 349.33,
 346.68,
 344.64,
 334.28,
 336.34,
 338.35,
 344.5,
 348.0,
 350.01,
 355.06,
 350.02,
 350.91,
 345.39,
 342.25,
 342.32,
 328.17,
 324.3,
 315.52,
 326.27,
 323.04,
 318.81,
 326.58,
 318.51,
 307.67,
 300.09,
 299.82,
 291.88,
 274.04,
 286.96,
 282.92,
 277.71,
 274.98,
 273.86,
 281.87,
 257.69,
 247.47,
 253.15,
 250.6,
 252.22,
 258.09,
 260.32,
 258.79,
 267.04,
 265.86,
 264.56,
 254.22,
 254.25,
 251.18,
 253.65,
 242.98,
 231.86,
 236.19,
 237.46,
 235.35,
 228.28,
 222.08,
 223.63,
 216.13,
 216.46,
 206.6,
 219.7,
 219.87,
 221.28,
 218.74,
 209.73,
 219.36,
 215.78,
 216.56,
 230.05,
 225.16,
 228.87,
 221.82,
 218.82,
 220.01,
 232.62,
 232.62,
 227.33,
 235.31,
 238.17,
 233.67,
 231.86,
 234.3,
 228.5,
 225.6,
 223.2,
 227.29,
 224.55,
 269.44,
 268.63,
 277.22,
 272.97,
 271.25,
 271.76,
 275.78,
 278.96,
 286.86,
 296.24,
 290.35,
 297.15,
 292.89,
 289.21,
 291.21,
 286.3,
 292.18,
 291.21,
 287.86,
 290.21,
 289.74,
 288.47,
 289.01,
 274.72,
 274.46,
 272.04,
 280.17,
 283.84,
 291.21,
 292.61,
 287.21,
 283.37,
 285.82,
 292.86,
 283.22,
 278.66,
 276.81,
 272.33,
 276.2,
 285.47,
 286.12,
 284.45,
 280.91,
 279.82,
 272.94,
 272.33,
 270.88,
 275.22,
 264.15,
 263.77,
 262.95,
 267.1,
 263.26,
 268.23,
 271.68,
 276.99,
 270.5,
 270.02,
 266.63,
 260.55,
 257.79,
 267.53,
 266.45,
 240.42,
 234.17,
 238.32,
 244.37,
 237.57,
 245.74,
 238.32,
 241.31,
 241.11,
 236.64,
 233.7,
 231.27,
 239.69,
 242.93,
 239.32,
 ...]

In [43]:
# Find max, min, sum, mean, median of gstock 
from functools import reduce
from statistics import median
max_stock = reduce(lambda x,y: x if x>y else y, gstock)
min_stock = reduce(lambda x,y: x if x<y else y, gstock)
sum_stock = reduce(lambda x,y: x+y, gstock)
mean_stock = sum_stock/len(gstock)
median_stock = median(gstock)

print('Max: ', max_stock)
print('Min: ', min_stock)
print('Sum: ', sum_stock)
print('Mean: ', mean_stock)
print('Median: ', median_stock)


# for median -> check the length -> if odd -> check the middle index and print it
# if even then check for middle index and find average of that and its previous (g[mid] + g[mid-1])//2

Max:  782.22
Min:  49.95
Sum:  1006942.0000000002
Mean:  334.31009296148744
Median:  283.315

In [44]:
# categorise into 3, find total count of each

excellent = list(filter(lambda s: s>500 , gstock))
satisfactory = list(filter(lambda s: s>220 and s<=500 , gstock))
ok = list(filter(lambda s: s<=220, gstock))

print("Excellent: ", len(excellent))
print("Satisfactory: ", len(satisfactory))
print("OK: ", len(ok))

Excellent:  701
Satisfactory:  1541
OK:  770

=========================================================================

# ACTIVITY

=======================================================

In [1]:
emp = open('clean_emp.csv').readlines()

In [2]:
emp

[',First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team\n',
 '0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing\n',
 '2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance\n',
 '3,Jerry,Male,3/4/2005,1:00 PM,138705,9.34,True,Finance\n',
 '4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services\n',
 '5,Dennis,Male,4/18/1987,1:35 AM,115163,10.125,False,Legal\n',
 '6,Ruby,Female,8/17/1987,4:20 PM,65476,10.012,True,Product\n',
 '8,Angela,Female,11/22/2005,6:29 AM,95570,18.523,True,Engineering\n',
 '9,Frances,Female,8/8/2002,6:51 AM,139852,7.524,True,Business Development\n',
 '11,Julie,Female,10/26/1997,3:19 PM,102508,12.637,True,Legal\n',
 '12,Brandon,Male,12/1/1980,1:08 AM,112807,17.492,True,Human Resources\n',
 '13,Gary,Male,1/27/2008,11:40 PM,109831,5.831,False,Sales\n',
 '14,Kimberly,Female,1/14/1999,7:13 AM,41426,14.543,True,Finance\n',
 '15,Lillian,Female,6/5/2016,6:09 AM,59414,1.256,False,Product\n',
 '16,Jeremy,Male,9/21/2010,5:56 AM,90370,7.369,False,Human Resources\n',
 '17,Shawn,Male,12/7/1986,7:45 PM,111737,6.414,False,Product\n',
 '18,Diana,Female,10/23/1981,10:27 AM,132940,19.082,False,Client Services\n',
 '19,Donna,Female,7/22/2010,3:48 AM,81014,1.894,False,Product\n',
 '21,Matthew,Male,9/5/1995,2:12 AM,100612,13.645,False,Marketing\n',
 '24,John,Male,7/1/1992,10:08 PM,97950,13.873,False,Client Services\n',
 '26,Craig,Male,2/27/2000,7:45 AM,37598,7.757,True,Marketing\n',
 '28,Terry,Male,11/27/1981,6:30 PM,124008,13.464,True,Client Services\n',
 '29,Benjamin,Male,1/26/2005,10:06 PM,79529,7.008,True,Legal\n',
 '30,Christina,Female,8/6/2002,1:19 PM,118780,9.096,True,Engineering\n',
 '33,Jean,Female,12/18/1993,9:07 AM,119082,16.18,False,Business Development\n',
 '34,Jerry,Male,1/10/2004,12:56 PM,95734,19.096,False,Client Services\n',
 '35,Theresa,Female,10/10/2006,1:12 AM,85182,16.675,False,Sales\n',
 '36,Rachel,Female,2/16/2009,8:47 PM,142032,12.599,False,Business Development\n',
 '37,Linda,Female,10/19/1981,8:49 PM,57427,9.557,True,Client Services\n',
 '38,Stephanie,Female,9/13/1986,1:52 AM,36844,5.574,True,Business Development\n',
 '40,Michael,Male,10/10/2008,11:25 AM,99283,2.665,True,Distribution\n',
 '42,Beverly,Female,9/9/1998,8:26 PM,121918,15.835,False,Legal\n',
 '43,Marilyn,Female,12/7/1980,3:16 AM,73524,5.207,True,Marketing\n',
 '44,Cynthia,Female,11/16/1988,6:54 PM,145146,7.482,True,Product\n',
 '45,Roger,Male,4/17/1980,11:32 AM,88010,13.886,True,Sales\n',
 '46,Bruce,Male,11/28/2009,10:47 PM,114796,6.796,False,Finance\n',
 '47,Kathy,Female,6/22/2005,4:51 AM,66820,9.0,True,Client Services\n',
 '48,Clarence,Male,3/26/1996,5:57 AM,93581,6.083,True,Business Development\n',
 '50,Nancy,Female,9/23/2000,8:05 AM,94976,13.83,True,Engineering\n',
 '52,Todd,Male,2/18/1990,2:41 AM,49339,1.695,True,Human Resources\n',
 '54,Sara,Female,8/15/2007,9:23 AM,83677,8.999,False,Engineering\n',
 '55,Karen,Female,11/30/1999,7:46 AM,102488,17.653,True,Product\n',
 '56,Carl,Male,5/3/2006,5:55 PM,130276,16.084,True,Finance\n',
 '57,Henry,Male,6/26/1996,1:44 AM,64715,15.107,True,Human Resources\n',
 '58,Theresa,Female,4/11/2010,7:18 AM,72670,1.481,True,Engineering\n',
 '59,Irene,Female,5/7/1997,9:32 AM,66851,11.279,False,Engineering\n',
 '61,Denise,Female,11/6/2001,12:03 PM,106862,3.699,False,Business Development\n',
 '63,Matthew,Male,1/2/2013,10:33 PM,35203,18.04,False,Human Resources\n',
 '65,Steve,Male,11/11/2009,11:44 PM,61310,12.428,True,Distribution\n',
 '66,Nancy,Female,12/15/2012,11:57 PM,125250,2.672,True,Business Development\n',
 '67,Rachel,Female,8/16/1999,6:53 AM,51178,9.735,True,Finance\n',
 '68,Jose,Male,10/30/2004,1:39 PM,84834,14.33,True,Finance\n',
 '71,Johnny,Male,11/6/2009,4:23 PM,118172,16.194,True,Sales\n',
 '72,Bobby,Male,5/7/2007,10:01 AM,54043,3.833,False,Product\n',
 '73,Frances,Female,4/4/1999,4:19 PM,90582,4.709,True,Sales\n',
 '74,Thomas,Male,6/4/1995,2:24 PM,62096,17.029,False,Marketing\n',
 '75,Bonnie,Female,7/2/1991,1:27 AM,104897,5.118,True,Human Resources\n',
 '76,Margaret,Female,9/10/1988,12:42 PM,131604,7.353,True,Distribution\n',
 '77,Charles,Male,9/14/2004,8:13 PM,107391,1.26,True,Marketing\n',
 '78,Robin,Female,6/4/1983,3:15 PM,114797,5.965,True,Sales\n',
 '79,Bonnie,Female,11/13/1988,3:30 PM,115814,4.99,False,Product\n',
 '81,Christopher,Male,3/30/2008,10:52 AM,47369,14.822,False,Legal\n',
 '82,Steven,Male,3/30/1980,9:20 PM,35095,8.379,True,Client Services\n',
 '83,Shawn,Male,9/23/2005,2:55 AM,148115,6.539,True,Finance\n',
 '84,Doris,Female,8/20/2004,5:51 AM,83072,7.511,False,Finance\n',
 '85,Jeremy,Male,2/1/2008,8:50 AM,100238,3.887,True,Client Services\n',
 '87,Annie,Female,1/30/1993,2:05 AM,144887,8.276,True,Sales\n',
 '88,Donna,Female,11/27/1991,1:59 PM,64088,6.155,True,Legal\n',
 '89,Janice,Female,3/12/2016,12:40 AM,51082,11.955,False,Legal\n',
 '92,Linda,Female,5/25/2000,5:45 PM,119009,12.506,True,Business Development\n',
 '94,Harry,Male,8/26/1981,3:16 PM,130620,7.03,False,Legal\n',
 '95,Heather,Female,7/11/1998,2:17 PM,43026,14.166,False,Client Services\n',
 '96,Cynthia,Female,3/21/1994,8:34 AM,142321,1.737,False,Finance\n',
 '98,Tina,Female,6/16/2016,7:47 PM,100705,16.961,True,Marketing\n',
 '99,Harold,Male,1/2/1985,9:40 PM,77544,12.447,False,Business Development\n',
 '100,Melissa,Female,6/21/2005,6:33 AM,48109,14.995,False,Finance\n',
 '101,Aaron,Male,2/17/2012,10:20 AM,61602,11.849,True,Marketing\n',
 '102,Jack,Male,1/12/1997,5:51 AM,103902,12.159,False,Client Services\n',
 '103,Phyllis,Female,10/11/1996,9:30 PM,136984,8.932,True,Finance\n',
 '104,John,Male,12/23/1989,7:01 AM,80740,19.305,False,Marketing\n',
 '105,Kathy,Female,3/9/1996,4:33 AM,91712,8.567,False,Finance\n',
 '106,Paul,Male,8/4/1993,7:25 PM,42146,3.046,False,Legal\n',
 '107,Steven,Male,4/23/2013,10:12 PM,68680,16.565,False,Legal\n',
 '110,Shirley,Female,6/20/2001,10:39 PM,147113,16.135,False,Legal\n',
 '111,Bonnie,Female,12/17/1999,3:12 PM,42153,8.454,True,Business Development\n',
 '112,Willie,Male,11/27/2003,6:21 AM,64363,4.023,False,Marketing\n',
 '113,Tina,Female,6/12/2009,7:16 AM,114767,3.711,True,Engineering\n',
 '114,Ashley,Female,8/4/2002,11:00 AM,58698,6.811,True,Business Development\n',
 '115,Pamela,Female,7/1/1982,6:51 AM,54585,4.166,False,Product\n',
 '117,Steven,Male,3/1/1995,3:03 PM,109095,9.494,False,Finance\n',
 '118,Andrea,Female,1/12/2012,5:43 AM,120204,9.557,False,Business Development\n',
 '119,Paul,Male,6/3/2008,3:05 PM,41054,12.299,False,Marketing\n',
 '120,Peter,Male,11/17/1994,6:15 PM,84885,15.402,False,Business Development\n',
 '122,Christina,Female,4/13/2012,2:04 PM,110169,13.892,True,Engineering\n',
 '123,Helen,Female,11/29/2001,2:30 AM,73789,14.841,True,Product\n',
 '124,Marilyn,Female,11/16/1983,8:29 AM,76078,2.401,True,Product\n',
 '125,Patricia,Female,9/1/2003,6:46 AM,49368,14.226,False,Human Resources\n',
 '126,Michelle,Female,3/30/1984,6:43 PM,57325,17.179,True,Human Resources\n',
 '127,William,Male,9/29/2002,4:09 PM,66521,5.83,False,Human Resources\n',
 '128,Kenneth,Male,8/25/1987,9:16 PM,127654,16.439,True,Client Services\n',
 '129,Antonio,Male,10/25/1988,1:50 PM,60866,13.101,True,Business Development\n',
 '130,Shirley,Female,5/1/1984,1:15 PM,41334,6.219,True,Human Resources\n',
 '131,Rebecca,Female,7/10/1992,12:23 AM,94231,17.517,False,Product\n',
 '132,Carlos,Male,1/4/1995,7:02 AM,146670,10.763,False,Human Resources\n',
 '133,Lois,Female,12/25/1987,4:16 PM,106317,2.235,True,Client Services\n',
 '134,Carolyn,Female,4/9/2011,5:38 AM,109260,2.65,True,Business Development\n',
 '135,Gloria,Female,6/29/2007,5:34 AM,134148,8.833,True,Legal\n',
 '136,Henry,Male,4/24/1995,4:18 AM,43542,19.687,False,Legal\n',
 '137,Adam,Male,5/21/2011,1:45 AM,95327,15.12,False,Distribution\n',
 '138,Ashley,Female,5/25/2006,11:30 AM,112238,6.03,True,Engineering\n',
 '140,Shirley,Female,2/28/1981,1:23 PM,113850,1.854,False,Marketing\n',
 '141,Adam,Male,12/24/1990,8:57 PM,110194,14.727,True,Product\n',
 '142,Elizabeth,Female,10/9/2003,5:53 PM,146129,5.687,False,Finance\n',
 '145,Jennifer,Female,4/4/2009,10:47 PM,71715,13.079,True,Client Services\n',
 '146,Patricia,Female,11/25/1992,2:24 AM,95322,4.15,False,Product\n',
 '147,Philip,Male,7/17/2008,1:30 PM,89227,3.996,False,Legal\n',
 '150,Sean,Male,5/4/1996,8:59 PM,135490,19.934,False,Marketing\n',
 '152,Ruth,Female,8/19/1999,4:03 AM,129297,8.067,True,Client Services\n',
 '154,Rebecca,Female,11/15/1980,4:13 AM,85730,5.359,True,Product\n',
 '155,Marie,Female,3/16/2003,12:12 AM,104058,17.695,True,Business Development\n',
 '156,Howard,Male,4/27/1992,1:10 AM,105062,1.563,False,Human Resources\n',
 '158,Norma,Female,2/28/1999,8:45 PM,114412,8.756,True,Marketing\n',
 '160,Kathy,Female,3/18/2000,7:26 PM,149563,16.991,True,Finance\n',
 '162,Arthur,Male,4/13/1998,11:28 AM,89786,14.422,True,Legal\n',
 '163,Terry,Male,9/3/1990,9:15 PM,52226,19.135,False,Client Services\n',
 '164,Mary,Female,8/13/1999,1:03 AM,134645,18.197,False,Business Development\n',
 '167,Christopher,Male,12/24/2011,12:22 PM,142178,17.984,True,Sales\n',
 '169,Michelle,Female,11/4/1996,9:34 PM,53754,5.455,True,Product\n',
 '170,Irene,Female,1/29/1992,11:36 AM,133772,19.02,True,Sales\n',
 '171,Patrick,Male,8/17/2007,3:16 AM,143499,17.495,True,Engineering\n',
 '172,Sara,Female,9/23/1991,6:17 PM,97058,9.402,False,Finance\n',
 '173,Lillian,Female,12/21/2008,6:51 PM,85446,3.959,True,Engineering\n',
 '175,Willie,Male,2/17/1998,8:20 PM,146651,1.451,True,Engineering\n',
 '176,Victor,Male,1/8/2003,1:02 PM,124486,10.166,False,Product\n',
 '177,Wayne,Male,4/7/2012,8:00 AM,102652,14.085,True,Distribution\n',
 '178,Jane,Female,9/3/1997,2:01 AM,144474,17.648,False,Product\n',
 '179,Jessica,Female,10/23/1995,5:53 AM,68759,19.343,True,Finance\n',
 '180,Mark,Male,4/12/2008,5:40 PM,57286,5.025,True,Business Development\n',
 '181,Randy,Male,11/14/1999,12:12 PM,58129,1.952,True,Distribution\n',
 '182,Lillian,Female,6/19/1999,4:44 PM,123940,12.184,True,Business Development\n',
 '184,Jerry,Male,12/18/2003,6:46 AM,140810,9.177,True,Client Services\n',
 '185,Sandra,Female,1/19/1983,7:25 AM,42090,8.842,True,Legal\n',
 '187,Roger,Male,11/19/2004,3:55 PM,51430,6.46,False,Marketing\n',
 '188,Charles,Male,10/14/2000,9:40 PM,71749,15.931,False,Legal\n',
 '189,Clarence,Male,5/2/1998,3:16 AM,85700,1.215,False,Sales\n',
 '190,Carol,Female,3/19/1996,3:39 AM,57783,9.129,False,Finance\n',
 '191,Lois,Female,10/18/2013,4:51 PM,36946,6.652,False,Engineering\n',
 '193,Rebecca,Female,2/18/1995,6:50 AM,109259,4.443,True,Legal\n',
 '194,Irene,Female,1/30/2004,8:25 PM,131038,8.996,False,Distribution\n',
 '195,Ronald,Male,4/30/2014,2:19 PM,121068,12.757,True,Product\n',
 '196,Steven,Male,11/10/1985,10:53 AM,62719,19.127,False,Client Services\n',
 '197,Carolyn,Female,11/6/2012,3:51 AM,69268,3.031,False,Client Services\n',
 '198,Maria,Female,12/27/1990,9:57 PM,36067,9.64,True,Product\n',
 '200,Gary,Male,8/12/1987,12:04 AM,89661,8.525,False,Finance\n',
 '201,Kimberly,Female,7/15/1997,5:57 AM,36643,7.953,False,Marketing\n',
 '202,Roger,Male,11/8/1982,2:32 AM,140558,5.084,True,Sales\n',
 '203,Diana,Female,1/4/2013,7:53 AM,103521,2.784,True,Business Development\n',
 '204,Willie,Male,6/6/2006,9:45 AM,55281,4.935,True,Marketing\n',
 '205,Brandon,Male,3/27/2006,5:54 PM,115711,8.012,True,Finance\n',
 '206,Patricia,Female,12/6/2012,4:01 AM,114079,8.399,True,Client Services\n',
 '207,Katherine,Female,11/14/1999,8:15 AM,57531,1.767,False,Client Services\n',
 '208,Jonathan,Male,10/12/1987,2:59 AM,141069,4.903,False,Human Resources\n',
 '209,Emily,Female,9/20/2007,11:25 AM,89434,11.295,False,Engineering\n',
 '210,Ruth,Female,8/12/1986,7:29 PM,44639,9.148,True,Legal\n',
 '211,Linda,Female,6/24/2006,12:04 PM,110967,19.612,True,Human Resources\n',
 '212,Lisa,Female,11/2/2009,9:42 AM,115387,1.821,False,Client Services\n',
 '213,Evelyn,Female,5/24/1980,11:10 PM,81673,15.364,True,Engineering\n',
 '214,Julie,Female,7/23/1989,1:52 PM,109588,3.55,False,Engineering\n',
 '215,Mary,Female,5/30/2009,11:41 PM,92544,3.8,False,Client Services\n',
 '216,Matthew,Male,7/31/2013,8:04 AM,142373,2.462,False,Marketing\n',
 '217,Douglas,Male,9/3/1999,4:00 PM,83341,1.015,True,Client Services\n',
 '219,Billy,Male,3/13/1995,12:05 PM,120444,7.768,True,Finance\n',
 '221,Gregory,Male,1/29/2000,6:01 AM,109564,3.845,False,Legal\n',
 '222,Jason,Male,10/17/1999,10:09 PM,78417,3.067,False,Finance\n',
 '223,Daniel,Male,4/30/2010,3:48 AM,106947,15.866,True,Legal\n',
 '224,Sarah,Female,9/14/1995,7:50 AM,87298,2.311,False,Distribution\n',
 '225,Harry,Male,10/1/2015,7:47 PM,64579,15.266,True,Sales\n',
 '226,Kathy,Female,4/19/1995,12:46 AM,50905,9.404,True,Finance\n',
 '227,Todd,Male,4/13/1999,10:31 AM,59728,11.226,True,Client Services\n',
 '228,Bobby,Male,9/23/1994,1:29 AM,51685,17.445,True,Engineering\n',
 '229,Jeremy,Male,6/8/2000,12:15 AM,49542,1.679,True,Distribution\n',
 '231,Diane,Female,4/18/1993,3:22 AM,64084,17.018,False,Product\n',
 '232,Marilyn,Female,4/4/1997,9:28 PM,147663,10.263,False,Human Resources\n',
 '233,Kathryn,Female,2/4/2004,1:47 PM,73935,14.752,False,Sales\n',
 '234,Irene,Female,2/4/1982,5:26 PM,40837,12.182,True,Client Services\n',
 '235,Norma,Female,2/11/2015,11:44 PM,94393,3.643,True,Engineering\n',
 '236,Laura,Female,4/2/2006,1:57 PM,42087,2.624,False,Product\n',
 '237,Cheryl,Female,9/23/2008,2:57 AM,52080,9.375,False,Legal\n',
 '238,Kevin,Male,3/25/1982,7:31 AM,35061,5.128,False,Legal\n',
 '241,Walter,Male,7/6/1983,11:54 PM,127813,5.961,False,Finance\n',
 '242,Robert,Male,10/27/1990,7:15 PM,38041,18.428,True,Engineering\n',
 '243,Jimmy,Male,10/7/1986,5:53 PM,126310,5.413,True,Product\n',
 '244,Clarence,Male,10/8/1996,12:53 PM,142561,8.866,False,Client Services\n',
 '245,Victor,Male,4/11/1991,7:44 AM,70817,17.138,False,Engineering\n',
 '248,Justin,Male,12/6/1992,5:58 PM,82782,4.366,True,Distribution\n',
 '249,Betty,Female,6/12/2002,3:59 AM,104896,19.55,True,Business Development\n',
 '252,Ralph,Male,11/11/2004,1:35 AM,71896,4.232,True,Marketing\n',
 '254,Edward,Male,5/27/1985,10:13 PM,110485,7.995,False,Client Services\n',
 '255,Denise,Female,3/20/2009,7:57 AM,115118,5.108,False,Human Resources\n',
 '256,Debra,Female,3/13/1998,11:16 PM,48696,4.75,False,Legal\n',
 '259,Henry,Male,2/6/1995,8:34 AM,89258,15.585,True,Human Resources\n',
 '260,Gloria,Female,3/27/2007,1:44 AM,90730,2.491,False,Distribution\n',
 '261,Marie,Female,8/6/1995,1:58 PM,100308,13.677,False,Product\n',
 '262,Anne,Female,7/16/1986,2:08 PM,69134,3.723,True,Engineering\n',
 '264,Stephanie,Female,3/24/1983,11:15 AM,50141,13.218,True,Human Resources\n',
 '265,Roy,Male,9/23/2004,1:31 PM,101941,3.45,False,Client Services\n',
 '268,Irene,Female,3/3/1982,8:26 AM,56526,5.81,True,Finance\n',
 '270,Thomas,Male,4/6/2011,1:04 PM,103235,9.554,True,Human Resources\n',
 '272,Fred,Male,2/20/1980,2:25 AM,74129,18.225,False,Product\n',
 '273,Nicholas,Male,4/12/1994,8:21 PM,74669,1.113,True,Product\n',
 '274,Howard,Male,10/5/1982,7:22 AM,97490,5.46,True,Marketing\n',
 '275,Debra,Female,2/22/1994,10:25 PM,104250,18.456,True,Business Development\n',
 '276,Christine,Female,7/3/1989,4:01 AM,94345,11.996,False,Finance\n',
 '278,Betty,Female,6/28/2005,6:03 PM,51613,12.984,False,Distribution\n',
 '279,Ruby,Female,11/8/2000,7:35 PM,105946,1.139,False,Business Development\n',
 '280,Kevin,Male,7/12/1997,2:07 AM,46080,9.635,False,Business Development\n',
 '281,Arthur,Male,1/1/2014,7:46 PM,134610,6.147,True,Human Resources\n',
 '283,Todd,Male,3/11/2009,3:43 AM,107281,1.612,True,Engineering\n',
 '284,Brenda,Female,10/6/2005,9:33 PM,141521,4.337,False,Client Services\n',
 '285,Judy,Female,9/16/1997,12:10 AM,65931,2.304,False,Human Resources\n',
 '286,Todd,Male,2/2/1984,10:13 AM,69989,10.985,True,Finance\n',
 '287,Lois,Female,11/9/2011,7:06 AM,147183,9.999,True,Client Services\n',
 '289,Jessica,Female,9/27/1985,1:35 PM,75145,6.388,True,Legal\n',
 '291,Tammy,Female,11/11/1984,10:30 AM,132839,17.463,True,Client Services\n',
 '292,Anne,Female,3/7/2000,6:45 AM,44537,18.284,True,Client Services\n',
 '293,Jesse,Male,10/25/1999,3:35 PM,118733,9.653,False,Marketing\n',
 '294,Virginia,Female,10/20/1999,6:23 AM,46905,19.154,False,Distribution\n',
 '295,Jesse,Male,3/2/1981,7:26 PM,79582,3.873,False,Legal\n',
 '297,Daniel,Male,9/15/2007,10:16 PM,123811,7.664,True,Human Resources\n',
 '299,Emily,Female,1/13/1988,6:42 AM,36711,19.028,True,Human Resources\n',
 '300,Alan,Male,6/26/1988,3:54 AM,111786,3.592,True,Engineering\n',
 '301,James,Male,7/11/2015,8:52 PM,72257,13.023,False,Engineering\n',
 '302,Adam,Male,7/5/2007,11:59 AM,71276,5.027,True,Human Resources\n',
 '304,Jeremy,Male,8/12/1981,12:05 AM,46930,18.702,True,Finance\n',
 '305,Margaret,Female,2/6/1993,1:05 PM,125220,3.733,False,Marketing\n',
 '306,Mark,Male,4/1/1984,1:21 PM,121477,17.44,True,Business Development\n',
 '307,Marilyn,Female,9/26/1981,2:23 AM,86386,2.937,False,Distribution\n',
 '308,Cheryl,Female,9/8/2009,10:16 AM,81308,2.196,True,Legal\n',
 '309,Benjamin,Male,9/11/1984,6:37 AM,84810,15.794,False,Marketing\n',
 '310,Harold,Male,2/20/1990,11:00 PM,66775,2.158,True,Legal\n',
 '312,Gerald,Male,4/16/2001,10:09 PM,121604,1.923,True,Sales\n',
 '313,Judy,Female,7/1/1991,2:33 AM,109510,13.457,True,Legal\n',
 '316,Marie,Female,10/3/2013,8:05 PM,123711,10.966,False,Product\n',
 '317,Kathy,Female,12/18/2013,3:09 PM,132381,8.34,False,Business Development\n',
 '318,Roy,Male,8/6/2006,7:52 AM,148225,1.841,False,Finance\n',
 '319,Jacqueline,Female,11/25/1981,3:01 PM,145988,18.243,False,Marketing\n',
 '321,Julie,Female,3/23/1986,9:26 AM,56926,7.507,False,Sales\n',
 '322,Douglas,Male,1/8/2002,6:42 PM,41428,14.372,False,Product\n',
 '323,Linda,Female,12/16/1990,2:20 AM,115658,3.041,True,Sales\n',
 '324,Ruby,Female,12/10/1988,8:27 PM,76707,6.031,False,Business Development\n',
 '325,Russell,Male,1/2/2005,1:48 AM,60388,17.885,False,Client Services\n',
 '326,Jeffrey,Male,6/18/1997,8:01 PM,45150,12.075,True,Product\n',
 '327,Aaron,Male,1/29/1994,6:48 PM,58755,5.097,True,Marketing\n',
 '328,Samuel,Male,12/19/1991,2:54 AM,76076,5.319,True,Finance\n',
 '330,Randy,Male,3/16/2014,6:24 PM,135119,7.887,False,Client Services\n',
 '331,Evelyn,Female,9/3/1983,1:58 PM,36759,17.269,True,Marketing\n',
 '332,Fred,Male,2/13/1987,2:15 PM,121723,18.645,True,Product\n',
 '333,Shirley,Female,6/8/1986,2:25 AM,110061,7.494,False,Client Services\n',
 '334,Todd,Male,5/23/2011,4:14 PM,85074,1.844,False,Client Services\n',
 '335,Robert,Male,11/18/2014,5:00 AM,85799,19.93,False,Finance\n',
 '336,Mark,Male,1/22/2007,2:37 PM,75150,12.182,True,Legal\n',
 '337,Earl,Male,1/5/2000,5:46 PM,91344,4.035,True,Sales\n',
 '338,Richard,Male,9/27/2005,1:41 AM,86326,10.717,False,Product\n',
 '339,Michael,Male,11/22/1991,12:57 PM,98753,16.443,True,Human Resources\n',
 '340,Steven,Male,5/12/2009,2:14 PM,113060,2.846,True,Sales\n',
 '341,Carlos,Male,9/19/2007,1:01 AM,77327,11.58,True,Finance\n',
 '342,Marie,Female,10/20/2011,10:09 PM,62666,10.247,False,Product\n',
 '343,Ronald,Male,2/24/2009,2:09 PM,96633,4.99,True,Engineering\n',
 '344,Scott,Male,5/12/2009,4:36 AM,58248,3.914,False,Business Development\n',
 '345,Steven,Male,11/21/2006,8:30 AM,83706,6.96,True,Human Resources\n',
 '346,James,Male,11/22/1998,3:48 AM,74086,5.778,True,Human Resources\n',
 '347,Lori,Female,3/31/1988,10:59 PM,95389,14.223,False,Sales\n',
 '348,Philip,Male,8/2/1989,11:21 AM,129968,19.897,False,Finance\n',
 '349,Phyllis,Female,11/24/2005,11:57 PM,140347,8.723,False,Sales\n',
 '351,Cynthia,Female,12/3/2012,11:03 PM,74287,10.751,False,Sales\n',
 '354,Elizabeth,Female,11/10/2005,4:56 AM,106406,1.782,True,Legal\n',
 '355,Andrea,Female,9/14/2003,10:30 PM,115913,12.121,False,Legal\n',
 '356,Judy,Female,2/1/1990,3:32 PM,38092,5.668,False,Distribution\n',
 '357,Russell,Male,8/13/2014,3:51 PM,121160,7.843,False,Engineering\n',
 '358,Scott,Male,12/17/2011,3:45 AM,90429,4.45,False,Product\n',
 '359,Sarah,Female,5/22/1994,7:06 AM,64207,7.824,True,Client Services\n',
 '360,Susan,Female,9/25/2004,1:30 AM,80688,18.892,True,Sales\n',
 '361,Margaret,Female,5/5/2014,6:01 AM,55044,4.078,False,Sales\n',

In [4]:
# 
newemp = emp[1:]
len(newemp)

764

In [5]:
newemp

['0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing\n',
 '2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance\n',
 '3,Jerry,Male,3/4/2005,1:00 PM,138705,9.34,True,Finance\n',
 '4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services\n',
 '5,Dennis,Male,4/18/1987,1:35 AM,115163,10.125,False,Legal\n',
 '6,Ruby,Female,8/17/1987,4:20 PM,65476,10.012,True,Product\n',
 '8,Angela,Female,11/22/2005,6:29 AM,95570,18.523,True,Engineering\n',
 '9,Frances,Female,8/8/2002,6:51 AM,139852,7.524,True,Business Development\n',
 '11,Julie,Female,10/26/1997,3:19 PM,102508,12.637,True,Legal\n',
 '12,Brandon,Male,12/1/1980,1:08 AM,112807,17.492,True,Human Resources\n',
 '13,Gary,Male,1/27/2008,11:40 PM,109831,5.831,False,Sales\n',
 '14,Kimberly,Female,1/14/1999,7:13 AM,41426,14.543,True,Finance\n',
 '15,Lillian,Female,6/5/2016,6:09 AM,59414,1.256,False,Product\n',
 '16,Jeremy,Male,9/21/2010,5:56 AM,90370,7.369,False,Human Resources\n',
 '17,Shawn,Male,12/7/1986,7:45 PM,111737,6.414,False,Product\n',
 '18,Diana,Female,10/23/1981,10:27 AM,132940,19.082,False,Client Services\n',
 '19,Donna,Female,7/22/2010,3:48 AM,81014,1.894,False,Product\n',
 '21,Matthew,Male,9/5/1995,2:12 AM,100612,13.645,False,Marketing\n',
 '24,John,Male,7/1/1992,10:08 PM,97950,13.873,False,Client Services\n',
 '26,Craig,Male,2/27/2000,7:45 AM,37598,7.757,True,Marketing\n',
 '28,Terry,Male,11/27/1981,6:30 PM,124008,13.464,True,Client Services\n',
 '29,Benjamin,Male,1/26/2005,10:06 PM,79529,7.008,True,Legal\n',
 '30,Christina,Female,8/6/2002,1:19 PM,118780,9.096,True,Engineering\n',
 '33,Jean,Female,12/18/1993,9:07 AM,119082,16.18,False,Business Development\n',
 '34,Jerry,Male,1/10/2004,12:56 PM,95734,19.096,False,Client Services\n',
 '35,Theresa,Female,10/10/2006,1:12 AM,85182,16.675,False,Sales\n',
 '36,Rachel,Female,2/16/2009,8:47 PM,142032,12.599,False,Business Development\n',
 '37,Linda,Female,10/19/1981,8:49 PM,57427,9.557,True,Client Services\n',
 '38,Stephanie,Female,9/13/1986,1:52 AM,36844,5.574,True,Business Development\n',
 '40,Michael,Male,10/10/2008,11:25 AM,99283,2.665,True,Distribution\n',
 '42,Beverly,Female,9/9/1998,8:26 PM,121918,15.835,False,Legal\n',
 '43,Marilyn,Female,12/7/1980,3:16 AM,73524,5.207,True,Marketing\n',
 '44,Cynthia,Female,11/16/1988,6:54 PM,145146,7.482,True,Product\n',
 '45,Roger,Male,4/17/1980,11:32 AM,88010,13.886,True,Sales\n',
 '46,Bruce,Male,11/28/2009,10:47 PM,114796,6.796,False,Finance\n',
 '47,Kathy,Female,6/22/2005,4:51 AM,66820,9.0,True,Client Services\n',
 '48,Clarence,Male,3/26/1996,5:57 AM,93581,6.083,True,Business Development\n',
 '50,Nancy,Female,9/23/2000,8:05 AM,94976,13.83,True,Engineering\n',
 '52,Todd,Male,2/18/1990,2:41 AM,49339,1.695,True,Human Resources\n',
 '54,Sara,Female,8/15/2007,9:23 AM,83677,8.999,False,Engineering\n',
 '55,Karen,Female,11/30/1999,7:46 AM,102488,17.653,True,Product\n',
 '56,Carl,Male,5/3/2006,5:55 PM,130276,16.084,True,Finance\n',
 '57,Henry,Male,6/26/1996,1:44 AM,64715,15.107,True,Human Resources\n',
 '58,Theresa,Female,4/11/2010,7:18 AM,72670,1.481,True,Engineering\n',
 '59,Irene,Female,5/7/1997,9:32 AM,66851,11.279,False,Engineering\n',
 '61,Denise,Female,11/6/2001,12:03 PM,106862,3.699,False,Business Development\n',
 '63,Matthew,Male,1/2/2013,10:33 PM,35203,18.04,False,Human Resources\n',
 '65,Steve,Male,11/11/2009,11:44 PM,61310,12.428,True,Distribution\n',
 '66,Nancy,Female,12/15/2012,11:57 PM,125250,2.672,True,Business Development\n',
 '67,Rachel,Female,8/16/1999,6:53 AM,51178,9.735,True,Finance\n',
 '68,Jose,Male,10/30/2004,1:39 PM,84834,14.33,True,Finance\n',
 '71,Johnny,Male,11/6/2009,4:23 PM,118172,16.194,True,Sales\n',
 '72,Bobby,Male,5/7/2007,10:01 AM,54043,3.833,False,Product\n',
 '73,Frances,Female,4/4/1999,4:19 PM,90582,4.709,True,Sales\n',
 '74,Thomas,Male,6/4/1995,2:24 PM,62096,17.029,False,Marketing\n',
 '75,Bonnie,Female,7/2/1991,1:27 AM,104897,5.118,True,Human Resources\n',
 '76,Margaret,Female,9/10/1988,12:42 PM,131604,7.353,True,Distribution\n',
 '77,Charles,Male,9/14/2004,8:13 PM,107391,1.26,True,Marketing\n',
 '78,Robin,Female,6/4/1983,3:15 PM,114797,5.965,True,Sales\n',
 '79,Bonnie,Female,11/13/1988,3:30 PM,115814,4.99,False,Product\n',
 '81,Christopher,Male,3/30/2008,10:52 AM,47369,14.822,False,Legal\n',
 '82,Steven,Male,3/30/1980,9:20 PM,35095,8.379,True,Client Services\n',
 '83,Shawn,Male,9/23/2005,2:55 AM,148115,6.539,True,Finance\n',
 '84,Doris,Female,8/20/2004,5:51 AM,83072,7.511,False,Finance\n',
 '85,Jeremy,Male,2/1/2008,8:50 AM,100238,3.887,True,Client Services\n',
 '87,Annie,Female,1/30/1993,2:05 AM,144887,8.276,True,Sales\n',
 '88,Donna,Female,11/27/1991,1:59 PM,64088,6.155,True,Legal\n',
 '89,Janice,Female,3/12/2016,12:40 AM,51082,11.955,False,Legal\n',
 '92,Linda,Female,5/25/2000,5:45 PM,119009,12.506,True,Business Development\n',
 '94,Harry,Male,8/26/1981,3:16 PM,130620,7.03,False,Legal\n',
 '95,Heather,Female,7/11/1998,2:17 PM,43026,14.166,False,Client Services\n',
 '96,Cynthia,Female,3/21/1994,8:34 AM,142321,1.737,False,Finance\n',
 '98,Tina,Female,6/16/2016,7:47 PM,100705,16.961,True,Marketing\n',
 '99,Harold,Male,1/2/1985,9:40 PM,77544,12.447,False,Business Development\n',
 '100,Melissa,Female,6/21/2005,6:33 AM,48109,14.995,False,Finance\n',
 '101,Aaron,Male,2/17/2012,10:20 AM,61602,11.849,True,Marketing\n',
 '102,Jack,Male,1/12/1997,5:51 AM,103902,12.159,False,Client Services\n',
 '103,Phyllis,Female,10/11/1996,9:30 PM,136984,8.932,True,Finance\n',
 '104,John,Male,12/23/1989,7:01 AM,80740,19.305,False,Marketing\n',
 '105,Kathy,Female,3/9/1996,4:33 AM,91712,8.567,False,Finance\n',
 '106,Paul,Male,8/4/1993,7:25 PM,42146,3.046,False,Legal\n',
 '107,Steven,Male,4/23/2013,10:12 PM,68680,16.565,False,Legal\n',
 '110,Shirley,Female,6/20/2001,10:39 PM,147113,16.135,False,Legal\n',
 '111,Bonnie,Female,12/17/1999,3:12 PM,42153,8.454,True,Business Development\n',
 '112,Willie,Male,11/27/2003,6:21 AM,64363,4.023,False,Marketing\n',
 '113,Tina,Female,6/12/2009,7:16 AM,114767,3.711,True,Engineering\n',
 '114,Ashley,Female,8/4/2002,11:00 AM,58698,6.811,True,Business Development\n',
 '115,Pamela,Female,7/1/1982,6:51 AM,54585,4.166,False,Product\n',
 '117,Steven,Male,3/1/1995,3:03 PM,109095,9.494,False,Finance\n',
 '118,Andrea,Female,1/12/2012,5:43 AM,120204,9.557,False,Business Development\n',
 '119,Paul,Male,6/3/2008,3:05 PM,41054,12.299,False,Marketing\n',
 '120,Peter,Male,11/17/1994,6:15 PM,84885,15.402,False,Business Development\n',
 '122,Christina,Female,4/13/2012,2:04 PM,110169,13.892,True,Engineering\n',
 '123,Helen,Female,11/29/2001,2:30 AM,73789,14.841,True,Product\n',
 '124,Marilyn,Female,11/16/1983,8:29 AM,76078,2.401,True,Product\n',
 '125,Patricia,Female,9/1/2003,6:46 AM,49368,14.226,False,Human Resources\n',
 '126,Michelle,Female,3/30/1984,6:43 PM,57325,17.179,True,Human Resources\n',
 '127,William,Male,9/29/2002,4:09 PM,66521,5.83,False,Human Resources\n',
 '128,Kenneth,Male,8/25/1987,9:16 PM,127654,16.439,True,Client Services\n',
 '129,Antonio,Male,10/25/1988,1:50 PM,60866,13.101,True,Business Development\n',
 '130,Shirley,Female,5/1/1984,1:15 PM,41334,6.219,True,Human Resources\n',
 '131,Rebecca,Female,7/10/1992,12:23 AM,94231,17.517,False,Product\n',
 '132,Carlos,Male,1/4/1995,7:02 AM,146670,10.763,False,Human Resources\n',
 '133,Lois,Female,12/25/1987,4:16 PM,106317,2.235,True,Client Services\n',
 '134,Carolyn,Female,4/9/2011,5:38 AM,109260,2.65,True,Business Development\n',
 '135,Gloria,Female,6/29/2007,5:34 AM,134148,8.833,True,Legal\n',
 '136,Henry,Male,4/24/1995,4:18 AM,43542,19.687,False,Legal\n',
 '137,Adam,Male,5/21/2011,1:45 AM,95327,15.12,False,Distribution\n',
 '138,Ashley,Female,5/25/2006,11:30 AM,112238,6.03,True,Engineering\n',
 '140,Shirley,Female,2/28/1981,1:23 PM,113850,1.854,False,Marketing\n',
 '141,Adam,Male,12/24/1990,8:57 PM,110194,14.727,True,Product\n',
 '142,Elizabeth,Female,10/9/2003,5:53 PM,146129,5.687,False,Finance\n',
 '145,Jennifer,Female,4/4/2009,10:47 PM,71715,13.079,True,Client Services\n',
 '146,Patricia,Female,11/25/1992,2:24 AM,95322,4.15,False,Product\n',
 '147,Philip,Male,7/17/2008,1:30 PM,89227,3.996,False,Legal\n',
 '150,Sean,Male,5/4/1996,8:59 PM,135490,19.934,False,Marketing\n',
 '152,Ruth,Female,8/19/1999,4:03 AM,129297,8.067,True,Client Services\n',
 '154,Rebecca,Female,11/15/1980,4:13 AM,85730,5.359,True,Product\n',
 '155,Marie,Female,3/16/2003,12:12 AM,104058,17.695,True,Business Development\n',
 '156,Howard,Male,4/27/1992,1:10 AM,105062,1.563,False,Human Resources\n',
 '158,Norma,Female,2/28/1999,8:45 PM,114412,8.756,True,Marketing\n',
 '160,Kathy,Female,3/18/2000,7:26 PM,149563,16.991,True,Finance\n',
 '162,Arthur,Male,4/13/1998,11:28 AM,89786,14.422,True,Legal\n',
 '163,Terry,Male,9/3/1990,9:15 PM,52226,19.135,False,Client Services\n',
 '164,Mary,Female,8/13/1999,1:03 AM,134645,18.197,False,Business Development\n',
 '167,Christopher,Male,12/24/2011,12:22 PM,142178,17.984,True,Sales\n',
 '169,Michelle,Female,11/4/1996,9:34 PM,53754,5.455,True,Product\n',
 '170,Irene,Female,1/29/1992,11:36 AM,133772,19.02,True,Sales\n',
 '171,Patrick,Male,8/17/2007,3:16 AM,143499,17.495,True,Engineering\n',
 '172,Sara,Female,9/23/1991,6:17 PM,97058,9.402,False,Finance\n',
 '173,Lillian,Female,12/21/2008,6:51 PM,85446,3.959,True,Engineering\n',
 '175,Willie,Male,2/17/1998,8:20 PM,146651,1.451,True,Engineering\n',
 '176,Victor,Male,1/8/2003,1:02 PM,124486,10.166,False,Product\n',
 '177,Wayne,Male,4/7/2012,8:00 AM,102652,14.085,True,Distribution\n',
 '178,Jane,Female,9/3/1997,2:01 AM,144474,17.648,False,Product\n',
 '179,Jessica,Female,10/23/1995,5:53 AM,68759,19.343,True,Finance\n',
 '180,Mark,Male,4/12/2008,5:40 PM,57286,5.025,True,Business Development\n',
 '181,Randy,Male,11/14/1999,12:12 PM,58129,1.952,True,Distribution\n',
 '182,Lillian,Female,6/19/1999,4:44 PM,123940,12.184,True,Business Development\n',
 '184,Jerry,Male,12/18/2003,6:46 AM,140810,9.177,True,Client Services\n',
 '185,Sandra,Female,1/19/1983,7:25 AM,42090,8.842,True,Legal\n',
 '187,Roger,Male,11/19/2004,3:55 PM,51430,6.46,False,Marketing\n',
 '188,Charles,Male,10/14/2000,9:40 PM,71749,15.931,False,Legal\n',
 '189,Clarence,Male,5/2/1998,3:16 AM,85700,1.215,False,Sales\n',
 '190,Carol,Female,3/19/1996,3:39 AM,57783,9.129,False,Finance\n',
 '191,Lois,Female,10/18/2013,4:51 PM,36946,6.652,False,Engineering\n',
 '193,Rebecca,Female,2/18/1995,6:50 AM,109259,4.443,True,Legal\n',
 '194,Irene,Female,1/30/2004,8:25 PM,131038,8.996,False,Distribution\n',
 '195,Ronald,Male,4/30/2014,2:19 PM,121068,12.757,True,Product\n',
 '196,Steven,Male,11/10/1985,10:53 AM,62719,19.127,False,Client Services\n',
 '197,Carolyn,Female,11/6/2012,3:51 AM,69268,3.031,False,Client Services\n',
 '198,Maria,Female,12/27/1990,9:57 PM,36067,9.64,True,Product\n',
 '200,Gary,Male,8/12/1987,12:04 AM,89661,8.525,False,Finance\n',
 '201,Kimberly,Female,7/15/1997,5:57 AM,36643,7.953,False,Marketing\n',
 '202,Roger,Male,11/8/1982,2:32 AM,140558,5.084,True,Sales\n',
 '203,Diana,Female,1/4/2013,7:53 AM,103521,2.784,True,Business Development\n',
 '204,Willie,Male,6/6/2006,9:45 AM,55281,4.935,True,Marketing\n',
 '205,Brandon,Male,3/27/2006,5:54 PM,115711,8.012,True,Finance\n',
 '206,Patricia,Female,12/6/2012,4:01 AM,114079,8.399,True,Client Services\n',
 '207,Katherine,Female,11/14/1999,8:15 AM,57531,1.767,False,Client Services\n',
 '208,Jonathan,Male,10/12/1987,2:59 AM,141069,4.903,False,Human Resources\n',
 '209,Emily,Female,9/20/2007,11:25 AM,89434,11.295,False,Engineering\n',
 '210,Ruth,Female,8/12/1986,7:29 PM,44639,9.148,True,Legal\n',
 '211,Linda,Female,6/24/2006,12:04 PM,110967,19.612,True,Human Resources\n',
 '212,Lisa,Female,11/2/2009,9:42 AM,115387,1.821,False,Client Services\n',
 '213,Evelyn,Female,5/24/1980,11:10 PM,81673,15.364,True,Engineering\n',
 '214,Julie,Female,7/23/1989,1:52 PM,109588,3.55,False,Engineering\n',
 '215,Mary,Female,5/30/2009,11:41 PM,92544,3.8,False,Client Services\n',
 '216,Matthew,Male,7/31/2013,8:04 AM,142373,2.462,False,Marketing\n',
 '217,Douglas,Male,9/3/1999,4:00 PM,83341,1.015,True,Client Services\n',
 '219,Billy,Male,3/13/1995,12:05 PM,120444,7.768,True,Finance\n',
 '221,Gregory,Male,1/29/2000,6:01 AM,109564,3.845,False,Legal\n',
 '222,Jason,Male,10/17/1999,10:09 PM,78417,3.067,False,Finance\n',
 '223,Daniel,Male,4/30/2010,3:48 AM,106947,15.866,True,Legal\n',
 '224,Sarah,Female,9/14/1995,7:50 AM,87298,2.311,False,Distribution\n',
 '225,Harry,Male,10/1/2015,7:47 PM,64579,15.266,True,Sales\n',
 '226,Kathy,Female,4/19/1995,12:46 AM,50905,9.404,True,Finance\n',
 '227,Todd,Male,4/13/1999,10:31 AM,59728,11.226,True,Client Services\n',
 '228,Bobby,Male,9/23/1994,1:29 AM,51685,17.445,True,Engineering\n',
 '229,Jeremy,Male,6/8/2000,12:15 AM,49542,1.679,True,Distribution\n',
 '231,Diane,Female,4/18/1993,3:22 AM,64084,17.018,False,Product\n',
 '232,Marilyn,Female,4/4/1997,9:28 PM,147663,10.263,False,Human Resources\n',
 '233,Kathryn,Female,2/4/2004,1:47 PM,73935,14.752,False,Sales\n',
 '234,Irene,Female,2/4/1982,5:26 PM,40837,12.182,True,Client Services\n',
 '235,Norma,Female,2/11/2015,11:44 PM,94393,3.643,True,Engineering\n',
 '236,Laura,Female,4/2/2006,1:57 PM,42087,2.624,False,Product\n',
 '237,Cheryl,Female,9/23/2008,2:57 AM,52080,9.375,False,Legal\n',
 '238,Kevin,Male,3/25/1982,7:31 AM,35061,5.128,False,Legal\n',
 '241,Walter,Male,7/6/1983,11:54 PM,127813,5.961,False,Finance\n',
 '242,Robert,Male,10/27/1990,7:15 PM,38041,18.428,True,Engineering\n',
 '243,Jimmy,Male,10/7/1986,5:53 PM,126310,5.413,True,Product\n',
 '244,Clarence,Male,10/8/1996,12:53 PM,142561,8.866,False,Client Services\n',
 '245,Victor,Male,4/11/1991,7:44 AM,70817,17.138,False,Engineering\n',
 '248,Justin,Male,12/6/1992,5:58 PM,82782,4.366,True,Distribution\n',
 '249,Betty,Female,6/12/2002,3:59 AM,104896,19.55,True,Business Development\n',
 '252,Ralph,Male,11/11/2004,1:35 AM,71896,4.232,True,Marketing\n',
 '254,Edward,Male,5/27/1985,10:13 PM,110485,7.995,False,Client Services\n',
 '255,Denise,Female,3/20/2009,7:57 AM,115118,5.108,False,Human Resources\n',
 '256,Debra,Female,3/13/1998,11:16 PM,48696,4.75,False,Legal\n',
 '259,Henry,Male,2/6/1995,8:34 AM,89258,15.585,True,Human Resources\n',
 '260,Gloria,Female,3/27/2007,1:44 AM,90730,2.491,False,Distribution\n',
 '261,Marie,Female,8/6/1995,1:58 PM,100308,13.677,False,Product\n',
 '262,Anne,Female,7/16/1986,2:08 PM,69134,3.723,True,Engineering\n',
 '264,Stephanie,Female,3/24/1983,11:15 AM,50141,13.218,True,Human Resources\n',
 '265,Roy,Male,9/23/2004,1:31 PM,101941,3.45,False,Client Services\n',
 '268,Irene,Female,3/3/1982,8:26 AM,56526,5.81,True,Finance\n',
 '270,Thomas,Male,4/6/2011,1:04 PM,103235,9.554,True,Human Resources\n',
 '272,Fred,Male,2/20/1980,2:25 AM,74129,18.225,False,Product\n',
 '273,Nicholas,Male,4/12/1994,8:21 PM,74669,1.113,True,Product\n',
 '274,Howard,Male,10/5/1982,7:22 AM,97490,5.46,True,Marketing\n',
 '275,Debra,Female,2/22/1994,10:25 PM,104250,18.456,True,Business Development\n',
 '276,Christine,Female,7/3/1989,4:01 AM,94345,11.996,False,Finance\n',
 '278,Betty,Female,6/28/2005,6:03 PM,51613,12.984,False,Distribution\n',
 '279,Ruby,Female,11/8/2000,7:35 PM,105946,1.139,False,Business Development\n',
 '280,Kevin,Male,7/12/1997,2:07 AM,46080,9.635,False,Business Development\n',
 '281,Arthur,Male,1/1/2014,7:46 PM,134610,6.147,True,Human Resources\n',
 '283,Todd,Male,3/11/2009,3:43 AM,107281,1.612,True,Engineering\n',
 '284,Brenda,Female,10/6/2005,9:33 PM,141521,4.337,False,Client Services\n',
 '285,Judy,Female,9/16/1997,12:10 AM,65931,2.304,False,Human Resources\n',
 '286,Todd,Male,2/2/1984,10:13 AM,69989,10.985,True,Finance\n',
 '287,Lois,Female,11/9/2011,7:06 AM,147183,9.999,True,Client Services\n',
 '289,Jessica,Female,9/27/1985,1:35 PM,75145,6.388,True,Legal\n',
 '291,Tammy,Female,11/11/1984,10:30 AM,132839,17.463,True,Client Services\n',
 '292,Anne,Female,3/7/2000,6:45 AM,44537,18.284,True,Client Services\n',
 '293,Jesse,Male,10/25/1999,3:35 PM,118733,9.653,False,Marketing\n',
 '294,Virginia,Female,10/20/1999,6:23 AM,46905,19.154,False,Distribution\n',
 '295,Jesse,Male,3/2/1981,7:26 PM,79582,3.873,False,Legal\n',
 '297,Daniel,Male,9/15/2007,10:16 PM,123811,7.664,True,Human Resources\n',
 '299,Emily,Female,1/13/1988,6:42 AM,36711,19.028,True,Human Resources\n',
 '300,Alan,Male,6/26/1988,3:54 AM,111786,3.592,True,Engineering\n',
 '301,James,Male,7/11/2015,8:52 PM,72257,13.023,False,Engineering\n',
 '302,Adam,Male,7/5/2007,11:59 AM,71276,5.027,True,Human Resources\n',
 '304,Jeremy,Male,8/12/1981,12:05 AM,46930,18.702,True,Finance\n',
 '305,Margaret,Female,2/6/1993,1:05 PM,125220,3.733,False,Marketing\n',
 '306,Mark,Male,4/1/1984,1:21 PM,121477,17.44,True,Business Development\n',
 '307,Marilyn,Female,9/26/1981,2:23 AM,86386,2.937,False,Distribution\n',
 '308,Cheryl,Female,9/8/2009,10:16 AM,81308,2.196,True,Legal\n',
 '309,Benjamin,Male,9/11/1984,6:37 AM,84810,15.794,False,Marketing\n',
 '310,Harold,Male,2/20/1990,11:00 PM,66775,2.158,True,Legal\n',
 '312,Gerald,Male,4/16/2001,10:09 PM,121604,1.923,True,Sales\n',
 '313,Judy,Female,7/1/1991,2:33 AM,109510,13.457,True,Legal\n',
 '316,Marie,Female,10/3/2013,8:05 PM,123711,10.966,False,Product\n',
 '317,Kathy,Female,12/18/2013,3:09 PM,132381,8.34,False,Business Development\n',
 '318,Roy,Male,8/6/2006,7:52 AM,148225,1.841,False,Finance\n',
 '319,Jacqueline,Female,11/25/1981,3:01 PM,145988,18.243,False,Marketing\n',
 '321,Julie,Female,3/23/1986,9:26 AM,56926,7.507,False,Sales\n',
 '322,Douglas,Male,1/8/2002,6:42 PM,41428,14.372,False,Product\n',
 '323,Linda,Female,12/16/1990,2:20 AM,115658,3.041,True,Sales\n',
 '324,Ruby,Female,12/10/1988,8:27 PM,76707,6.031,False,Business Development\n',
 '325,Russell,Male,1/2/2005,1:48 AM,60388,17.885,False,Client Services\n',
 '326,Jeffrey,Male,6/18/1997,8:01 PM,45150,12.075,True,Product\n',
 '327,Aaron,Male,1/29/1994,6:48 PM,58755,5.097,True,Marketing\n',
 '328,Samuel,Male,12/19/1991,2:54 AM,76076,5.319,True,Finance\n',
 '330,Randy,Male,3/16/2014,6:24 PM,135119,7.887,False,Client Services\n',
 '331,Evelyn,Female,9/3/1983,1:58 PM,36759,17.269,True,Marketing\n',
 '332,Fred,Male,2/13/1987,2:15 PM,121723,18.645,True,Product\n',
 '333,Shirley,Female,6/8/1986,2:25 AM,110061,7.494,False,Client Services\n',
 '334,Todd,Male,5/23/2011,4:14 PM,85074,1.844,False,Client Services\n',
 '335,Robert,Male,11/18/2014,5:00 AM,85799,19.93,False,Finance\n',
 '336,Mark,Male,1/22/2007,2:37 PM,75150,12.182,True,Legal\n',
 '337,Earl,Male,1/5/2000,5:46 PM,91344,4.035,True,Sales\n',
 '338,Richard,Male,9/27/2005,1:41 AM,86326,10.717,False,Product\n',
 '339,Michael,Male,11/22/1991,12:57 PM,98753,16.443,True,Human Resources\n',
 '340,Steven,Male,5/12/2009,2:14 PM,113060,2.846,True,Sales\n',
 '341,Carlos,Male,9/19/2007,1:01 AM,77327,11.58,True,Finance\n',
 '342,Marie,Female,10/20/2011,10:09 PM,62666,10.247,False,Product\n',
 '343,Ronald,Male,2/24/2009,2:09 PM,96633,4.99,True,Engineering\n',
 '344,Scott,Male,5/12/2009,4:36 AM,58248,3.914,False,Business Development\n',
 '345,Steven,Male,11/21/2006,8:30 AM,83706,6.96,True,Human Resources\n',
 '346,James,Male,11/22/1998,3:48 AM,74086,5.778,True,Human Resources\n',
 '347,Lori,Female,3/31/1988,10:59 PM,95389,14.223,False,Sales\n',
 '348,Philip,Male,8/2/1989,11:21 AM,129968,19.897,False,Finance\n',
 '349,Phyllis,Female,11/24/2005,11:57 PM,140347,8.723,False,Sales\n',
 '351,Cynthia,Female,12/3/2012,11:03 PM,74287,10.751,False,Sales\n',
 '354,Elizabeth,Female,11/10/2005,4:56 AM,106406,1.782,True,Legal\n',
 '355,Andrea,Female,9/14/2003,10:30 PM,115913,12.121,False,Legal\n',
 '356,Judy,Female,2/1/1990,3:32 PM,38092,5.668,False,Distribution\n',
 '357,Russell,Male,8/13/2014,3:51 PM,121160,7.843,False,Engineering\n',
 '358,Scott,Male,12/17/2011,3:45 AM,90429,4.45,False,Product\n',
 '359,Sarah,Female,5/22/1994,7:06 AM,64207,7.824,True,Client Services\n',
 '360,Susan,Female,9/25/2004,1:30 AM,80688,18.892,True,Sales\n',
 '361,Margaret,Female,5/5/2014,6:01 AM,55044,4.078,False,Sales\n',
 '362,Joshua,Male,11/9/2009,6:32 AM,72893,9.555,False,Distribution\n',

In [7]:
newemp[0]

'0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing\n'

In [8]:
# male vs female
male = list(filter(lambda s: 'Male' in s , newemp))
female = list(filter(lambda s: 'Female' in s , newemp))
print('Male: ', len(male) )
print('Female: ', len(female) )

Male:  371
Female:  393

In [12]:
# unique teams
uniq_team = set()
for i in newemp:
    team = i.split(',')[-1].strip() 
    uniq_team.add(team)
print(uniq_team) 

# { line.split(',')[-1].strip()   for line in newemp }

{'Marketing', 'Product', 'Distribution', 'Client Services', 'Sales', 'Finance', 'Engineering', 'Human Resources', 'Legal', 'Business Development'}

In [20]:
# Percentage of senior and junior
senior = list(filter(lambda s: s.split(',')[-2].strip() == 'True' , newemp))
s= len(senior)/764*100
j= 100-s 
print('Senior: ', s)
print('Junior: ', j)

Senior:  49.86910994764398
Junior:  50.13089005235602

In [19]:
c = sum(1 for line in newemp if line.split(',')[-2] =='True')
a = (c/len(emp))*100
print(a)
b = 100-a
print(b)

49.80392156862745
50.19607843137255

In [8]:
# Highest salary -> female in Marketing team
# all values are in string. Hence while comparing salary convert it to float
from functools import reduce
women = list(filter(lambda s: (s.split(',')[-1].strip() == 'Marketing') and (s.split(',')[2].strip() == 'Female') , newemp))
high_s = reduce(lambda x,y: x if float(x.split(',')[5]) > float(y.split(',')[5]) else y, women)  
high_s

'319,Jacqueline,Female,11/25/1981,3:01 PM,145988,18.243,False,Marketing\n'

In [ ]:
"""
femEmps=[ 
        (    line.split(',')[1]         ,       int(line.split(',')[5].strip())     ) 
         for line in emp 
         if line.split(',')[-1].strip()=='Marketing' and line.split(',')[2].strip()=='Female'
         ]
sortedFemEmps = sorted(femEmps , key=lambda x : x[1],reverse=True)
sortedFemEmps
"""

In [13]:
# Find length of all teams
team_length = {}
for line in newemp:
    team = line.split(',')[-1].strip()  
    team_length[team] = team_length.get(team,0) + 1  
team_length

{'Marketing': 74,
 'Finance': 80,
 'Client Services': 85,
 'Legal': 67,
 'Product': 83,
 'Engineering': 79,
 'Business Development': 88,
 'Human Resources': 76,
 'Sales': 72,
 'Distribution': 60}

In [22]:
# Find mean salaries of all teams
# continue above code for fetching length of the team. 
salary_sum = {}
for line in newemp:
    team = line.split(',')[-1].strip()
    salary = float(line.split(',')[5].strip())  
    if team in salary_sum:
        salary_sum[team] += salary
    else:
        salary_sum[team] = salary
mean_salary = {team: salary_sum[team] / team_length[team] for team in salary_sum}
mean_salary

{'Marketing': 90764.08108108108,
 'Finance': 94519.075,
 'Client Services': 89336.65882352942,
 'Legal': 88066.40298507463,
 'Product': 86935.96385542168,
 'Engineering': 94369.40506329114,
 'Business Development': 90520.39772727272,
 'Human Resources': 91145.17105263157,
 'Sales': 91724.81944444444,
 'Distribution': 85849.1}

===========================================================================================

--------------------------------------------